{% extends "form.html" %}
{% load stadtbereichskatalog_tags %}
{% load static %}

{% block title %}Daten – Mapping | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'stadtbereichskatalog/css/stadtbereichskatalog.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'datenmanagement/js/genericHelpers.js' %}"></script>
  <script src="{% static 'stadtbereichskatalog/js/asyncFunctions.js' %}"></script>
  <script src="{% static 'stadtbereichskatalog/js/functions.js' %}"></script>
  <script src="{% static 'stadtbereichskatalog/js/dataImportMapping.js' %}"></script>
{% endblock %}

{% block content %}
  {% if is_stadtbereichskatalog_user %}
    <h2>
      <i class="fa-solid fa-{{ 'mapping'|get_icon }}"></i> Mapping auf Datenbank
    </h2>
    <div class="d-grid mt-5 gap-2 d-md-block">
      <a class="btn btn-primary" role="button" href="{% url app.name|add:':index' %}"><i class="fa-solid fa-{{ 'back'|get_icon }}"></i> Startseite</a>
    </div>
    <div class="mt-4 flex-container-column">
      <table class="table" id="mapping">
        <tbody>
          <tr>
            <td class="cell-label">
              <label for="schema-select" class="required">Zielschema</label>
            </td>
            <td class="cell-field">
              <select name="schema" class="form-select" id="schema-select">
                <option value="">---------</option>
                {% for schema in schemas %}
                  <option value="{{ schema }}">{{ schema }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="table-select" class="required">Zieltabelle</label>
            </td>
            <td class="cell-field">
              <select name="table" class="form-select" id="table-select" disabled>
                <option value="">---------</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="columns-table" class="required">Zielspalten</label>
            </td>
            <td class="cell-field">
              <table class="table"  id="columns-table">
              </table>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="file-input" class="required">Quelldatei</label>
            </td>
            <td class="cell-field">
              <div class="input-group">
                <input type="file" name="file" accept=".csv,.xlsx" class="form-control" id="file-input" aria-describedby="upload-file" aria-label="Upload" disabled>
                <button type="button" class="btn btn-primary" id="upload-file" disabled>Upload</button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="mapping-table" class="required">Mapping</label>
            </td>
            <td class="cell-field">
              <table class="table" id="mapping-table">
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-success mt-3 mb-3" id="import" disabled><i class="fa-solid fa-{{ 'import'|get_icon }}"></i> Import</button>
    {% include "stadtbereichskatalog/modal_messages.html" %}
    <script>
      const CSRF_TOKEN = '{{ csrf_token }}';
      const GET_DATABASE_TABLES_URL = "{% url app.name|add:':get_database_tables' %}";
      const GET_DATABASE_COLUMNS_URL = "{% url app.name|add:':get_database_columns' %}";
      const PREVIEW_CSV_URL = "{% url app.name|add:':preview_csv' %}";
      const IMPORT_URL = "{% url app.name|add:':import' %}";
      let currentColumns = [];
      let currentCsvHeaders = [];
      let currentPreviewRows = [];
    </script>
  {% else %}
    {% include "stadtbereichskatalog/notice_no-permissions.html" %}
  {% endif %}
{% endblock %}
