{% extends "form.html" %}
{% load stadtbereichskatalog_tags %}
{% load static %}

{% block title %}Daten – Export | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'stadtbereichskatalog/css/stadtbereichskatalog.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'datenmanagement/js/genericHelpers.js' %}"></script>
  <script src="{% static 'stadtbereichskatalog/js/asyncFunctions.js' %}"></script>
  <script src="{% static 'stadtbereichskatalog/js/functions.js' %}"></script>
  <script src="{% static 'stadtbereichskatalog/js/dataExport.js' %}"></script>
{% endblock %}

{% block content %}
  {% if is_stadtbereichskatalog_user %}
    <h2>
      <i class="fa-solid fa-{{ 'export'|get_icon }}"></i> Datenexport
    </h2>
    <div class="d-grid mt-5 gap-2 d-md-block">
      <a class="btn btn-primary" role="button" href="{% url app.name|add:':index' %}"><i class="fa-solid fa-{{ 'back'|get_icon }}"></i> Startseite</a>
    </div>
    <div class="mt-4 flex-container-column">
      <table class="table" id="mapping">
        <tbody>
          <tr>
            <td class="cell-label">
              <label for="schema-select" class="required">Schema</label>
            </td>
            <td class="cell-field">
              <select name="schema" class="form-select" id="schema-select">
                <option value="">---------</option>
                {% for schema in schemas %}
                  <option value="{{ schema }}">{{ schema }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="table-select" class="required">Tabelle</label>
            </td>
            <td class="cell-field">
              <select name="table" class="form-select" id="table-select" disabled>
                <option value="">---------</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="year-select">Filter auf Jahr</label>
            </td>
            <td class="cell-field">
              <select name="year" class="form-select" id="year-select" disabled>
                <option value="">---------</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="area-select">Filter auf Stadtbereich</label>
            </td>
            <td class="cell-field">
              <select name="area" class="form-select" id="area-select" disabled>
                <option value="">---------</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="cell-label">
              <label for="election-select">Filter auf Wahl</label>
            </td>
            <td class="cell-field">
              <select name="election" class="form-select" id="election-select" disabled>
                <option value="">---------</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-group mt-3 mb-3" role="group" aria-label="Export">
      <button type="button" class="btn btn-secondary export-button" id="export-csv-standard" disabled><i class="fa-solid fa-{{ 'csv'|get_icon }}"></i> CSV (Standard-konform)</button>
      <button type="button" class="btn btn-secondary ms-1 export-button" id="export-csv-excel" disabled><i class="fa-solid fa-{{ 'csv'|get_icon }}"></i> CSV (Excel-freundlich)</button>
      <button type="button" class="btn btn-secondary ms-1 export-button" id="export-excel" disabled><i class="fa-solid fa-{{ 'excel'|get_icon }}"></i> Excel</button>
    </div>
    {% include "stadtbereichskatalog/modal_messages.html" %}
    <script>
      const GET_DATABASE_TABLES_URL = "{% url app.name|add:':get_database_tables' %}";
      const GET_DISTINCT_AREAS_URL = "{% url app.name|add:':get_distinct_areas' %}";
      const GET_DISTINCT_ELECTIONS_URL = "{% url app.name|add:':get_distinct_elections' %}";
      const GET_DISTINCT_YEARS_URL = "{% url app.name|add:':get_distinct_years' %}";
      const EXPORT_CSV_EXCEL_URL = "{% url app.name|add:':export_csv_excel' %}";
      const EXPORT_CSV_STANDARD_URL = "{% url app.name|add:':export_csv_standard' %}";
      const EXPORT_EXCEL_URL = "{% url app.name|add:':export_excel' %}";
      const ICON_SUCCESS = "fa-{{ 'success'|get_icon }}";
    </script>
  {% else %}
    {% include "stadtbereichskatalog/notice_no-permissions.html" %}
  {% endif %}
{% endblock %}
