<div id="messages-modal" class="modal fade" tabindex="-1" aria-labelledby="messages-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="messages-modal-header" class="modal-header">
        <h5 id="messages-modal-title" class="modal-title"></h5>
      </div>
      <div id="messages-modal-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="messages-modal-ok" data-bs-dismiss="modal">schließen</button>
      </div>
    </div>
  </div>
</div>
