# compiled data and cache
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Datenerfassung
datenerfassung/secrets.py
datenerfassung/static
datenerfassung/uploads
datenmanagement/migrations
hilfe/build
/static
/uploads

# Node.js
assets/*package-lock*
assets/node_modules/*

# PyCharm
.idea/
