# compiled data and cache
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Datenwerft.HRO
datenwerft/secrets.py
toolbox/mkpdf/tmp_*
static
logs/*
!logs/.gitkeep
uploads/*
!uploads/.gitkeep

# Node.js
*package-lock*
node_modules

# Editors
.vscode/
.idea/
.zed/

# Virtual Environments
venv/
.venv/

# docker
docker-compose.override.yml

uv.lock
