# Python
__pycache__/
*.py[cod]

# editors
.vscode/
.idea/
.zed/

# virtual environments
venv/
.venv/

# environment variables
.env
.env.*

# Docker
/docker-compose.override.yml

# Node.js
/node_modules/

# Django
/db.sqlite3
/static/

# Datenwerft.HRO
/datenwerft/secrets.py
/toolbox/mkpdf/tmp_*

# runtime data
/logs/*
!/logs/.gitkeep
/uploads/*
!/uploads/.gitkeep
