[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
User=wwwrun
Group=www
WorkingDirectory=/path/to/datenwerft
ExecStart=/path/to/datenwerft/venv/bin/celery -A datenwerft worker --loglevel=warning --logfile=/path/to/datenwerft/datenwerft/logs/celery-service.log
EnvironmentFile=/path/to/datenwerft/datenwerft/settings.py

[Install]
WantedBy=multi-user.target