version: "3.5"

volumes:
  db:
  data:
  openldap_data:

services:
  openldap:
    image: bitnami/openldap:2
    ports:
      - "1389:1389"
      - "1636:1636"
    environment:
      - LDAP_ROOT=dc=example,dc=org
      - LDAP_ADMIN_USERNAME=admin
      - LDAP_ADMIN_PASSWORD=password
      - LDAP_USERS=user01,user02
      - LDAP_PASSWORDS=password1,password2
    # or check default environments https://github.com/bitnami/bitnami-docker-openldap#configuration
    # django-auth-ldap settings:
    #   AUTH_LDAP_SERVER_URI = 'ldap://openldap:1389'
    #   AUTH_LDAP_BIND_DN = 'cn=admin,dc=example,dc=org'
    #   AUTH_LDAP_BIND_PASSWORD = 'password'
    #   AUTH_LDAP_REQUIRE_GROUP = None
    #   AUTH_LDAP_USER_DN_TEMPLATE = "cn=%(user)s,ou=users,dc=example,dc=org"
    networks:
      - datenwerft
    volumes:
      - 'openldap_data:/bitnami/openldap'

  db:
    image: postgis/postgis
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=datenwerft
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    hostname: datenwerft
    volumes:
      - ./datenwerft:/datenwerft
      - data:/data
    ports:
      - "8000:8000"
    depends_on:
      - db
      - openldap
    links:
      - db
      - openldap
    networks:
      - datenwerft

networks:
  datenwerft:
    name: datenwerft
    driver: bridge
