Django
django-auth-ldap
django-datatables-view
django-filter
django-jsonview
django-leaflet
django-ratelimit
django-rq
django-user-agents
djangorestframework
docutils
httpx
Jinja2
laspy[laszip,lazrs]
lxml
Pillow
psycopg2-binary
pyblisher == 0.5.*
PyYAML
redis
requests
rq
ua-parser
user-agents
