Django
django-auth-ldap
django-datatables-view
django-guardian
django-leaflet
django-multiselectfield
djangorestframework
django-tempus-dominus
django-user-agents
Pillow
psycopg2
PyYAML
requests
Sphinx
ua-parser
user-agents