[Unit]
Description=Django-RQ Worker
After=network.target

[Service]
WorkingDirectory=/pfad/zur/datenwerft
ExecStart=/pfad/zur/datenwerft/.venv/bin/python \
    /pfad/zur/datenwerft/manage.py \
    rqworker default

[Install]
WantedBy=multi-user.target
