[Unit]
Description=RQ-Worker
After=network.target

[Service]
WorkingDirectory=/path/to/datenwerft
ExecStart=/path/to/datenwerft/.venv/bin/python \
    /path/to/datenwerft/manage.py \
    rqworker default

[Install]
WantedBy=multi-user.target
