html {
  position:relative;
  min-height:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:450 !important;
}

a,
a:hover {
  text-decoration:none;
}

.container-fluid:not(nav > .container-fluid) {
  width:90%;
}

.required {
  font-weight:bold;
}
