#address-search,
#map-control {
  margin-top:2rem;
}

#map-side-container {
  min-height:800px;
}

#map {
  min-height:800px;
  width:70%;
  float:left;
}

.side {
  width:28%;
  float:left;
  margin-left:2%;
}
