#action-button {
  border-top-right-radius:.25rem;
  border-bottom-right-radius:.25rem;
}

#datasets_length {
  margin-top:.5rem;
  float:left;
}

#datasets_wrapper {
  width:100%;
}

.input-group-append {
  display:inline-block;
}