#action-button {
  border-top-right-radius:0.25rem;
  border-bottom-right-radius:0.25rem;
}

#datasets {
  width:100%;
}

#datasets_length {
  margin-top:0.5rem;
  float:left;
}

#datasets_wrapper {
  width:100%;
}

.input-group-append {
  display:inline-block;
}