input[type="number"],
input[type="text"],
select,
textarea {
  width:100%;
}

label {
  font-weight:normal;
}

li > label > input {
  margin-right:.3rem;
}

ul:not([class]){
  list-style:outside none none;
  margin-left:-2.5rem;
  margin-bottom:0;
}

#address-search-container {
  margin-top:1rem;
  margin-bottom:8rem;
}

#id_geometrie-map {
  height:100%;
}

#id_gpxLabel.custom-file-label::after {
  content:"Datei auswählen";
  cursor:pointer;
}

.label-with-margin {
  margin-left:.3rem;
}

.leaflet-container {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.leaflet-container-default {
  min-height:300px;
  height:800px;
}

.results {
  display:none;
  width:100%;
  float:left;
  text-align:left;
  z-index:1;
  border-left:1px solid #aaa;
  border-right:1px solid #aaa;
  border-bottom:1px solid #aaa;
  font-size:1rem;
}

.result-element {
  line-height:150%;
  cursor:pointer;
}

.result-element:hover {
  background-color:#ddd;
}

.result-element .text-muted {
  float:right;
  padding-right:.5rem;
  color:#aaa;
}

.result-element:hover .text-muted {
  color:#000;
}

.timepicker td,
.timepicker th {
  border:none !important;
  padding:0 !important;
}

/*
 * Leaflet-Button für Datenlayer überschreiben
 */
.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(2) .leaflet-control-layers-toggle {
  background-image: url("../img/datenlayer.svg");
}

/*
 * Leaflet-Buttons für Location überschreiben
 */
.leaflet-control-locate a .leaflet-control-locate-location-arrow {
    -webkit-mask-image: url("../img/location-arrow-solid.svg");
    mask-image: url("../img/location-arrow-solid.svg");
}

.leaflet-control-locate a .leaflet-control-locate-spinner {
    -webkit-mask-image: url("../img/spinner-solid.svg");
    mask-image: url("../img/spinner-solid.svg");
}

/*
 * Leaflet-Button zum adoptieren von Geometrien
 */

.adopt-geometry-control {
  background-image: url("../img/adoptGeometry.svg");
}