#filter-alert {
  display:none;
}

#map {
  height:100%;
}

#searchtext {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}

.bootstrap-datetimepicker-widget a {
  color:#000 !important;
}

.bootstrap-datetimepicker-widget table td.active {
  background-color:#000 !important;
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color:#000 !important;
}

.filter-checkbox-fieldset input {
  margin-right:.5rem;
}

.filter-checkbox-fieldset label {
  width:100%;
}

.filtertype {
  display:inline;
  width:auto;
}

.leaflet-container {
  font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.leaflet-container-default {
  min-height:300px;
  height:800px;
}

.leaflet-draw-tooltip {
  display:none;
}

.marker-cluster div {
  font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight:bold;
}

.results {
  display:none;
  width:100%;
  border-left:1px solid #ced4da;
  border-right:1px solid #ced4da;
  border-bottom:1px solid #ced4da;
  border-bottom-left-radius:.375rem;
  border-bottom-right-radius:.375rem;
}

.result-element {
  padding-left:.75rem;
  line-height:2rem;
  cursor:pointer;
}

.result-element:hover {
  background-color:#ddd;
}

.result-element .text-muted {
  float:right;
  padding-right:.75rem;
}


/*
 * Leaflet-Buttons für Location überschreiben
 */

.leaflet-control-locate a .leaflet-control-locate-location-arrow {
    -webkit-mask-image: url("../img/location-arrow-solid.svg");
    mask-image: url("../img/location-arrow-solid.svg");
}

.leaflet-control-locate a .leaflet-control-locate-spinner {
    -webkit-mask-image: url("../img/spinner-solid.svg");
    mask-image: url("../img/spinner-solid.svg");
}
