input[type="text"] {
    width:100%;
}

input[type="number"] {
    width:100%;
}

label {
    font-weight:normal;
}

select {
    width:100%;
}

ul.errorlist {
    list-style:outside none none;
}

ul.errorlist li {
    color:red;
    font-weight:bold;
}

ul:not([class]){
    list-style:outside none none;
    margin-left:-38px;
}