.alert,
.form-signin {
  max-width:500px;
  margin:auto;
}

.alert,
.form-label-group {
  margin-bottom:1rem;
}

.form-label-group input,
.form-label-group label {
  width:100%;
}

.form-signin .btn {
  margin-top:2rem;
}