#filter-alert {
  display: none;
}

#filter-one-click {
  width: 100%;
}

#map {
  height: 100%;
}

#searchtext {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-checkbox-fieldset input {
  margin-right: 0.5rem;
}

.filter-checkbox-fieldset label {
  width: 100%;
}

.filtertype {
  display: inline;
  width: auto;
}

.leaflet-container {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.leaflet-container-default {
  min-height: 300px;
  height: 800px;
}

.leaflet-draw-tooltip {
  display: none;
}

.marker-cluster div {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: bold;
}

.results {
  display: none;
  width: 100%;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.result-element {
  padding-left: 0.75rem;
  line-height: 2rem;
  cursor: pointer;
}

.result-element:hover {
  background-color: #ddd;
}

.result-element .text-secondary {
  float: right;
  padding-right: 0.75rem;
}

/*
 * Leaflet-Button f端r Layer-Control 端berschreiben
 */

.leaflet-control-layers-toggle {
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("../img/layer-control-wms.svg");
}

/*
 * Leaflet-Buttons f端r Location 端berschreiben
 */

.leaflet-control-locate a .leaflet-control-locate-location-arrow {
  mask-image: url("../img/location-arrow-solid.svg");
}

.leaflet-control-locate a .leaflet-control-locate-spinner {
  mask-image: url("../img/spinner-solid.svg");
}
