html {
  position:relative;
  min-height:100%;
}

.btn-in-a-row {
  margin-left:5px;
}

.centered {
  text-align:center;
}

.list-group {
  margin-top:20px;
  margin-bottom:20px;
}

.row {
  margin-bottom:15px;
  padding-left:15px;
  padding-right:15px;
}

.spacer {
  height:30px;
}

.spacer-small {
  height:20px;
}



#datasets_length {
  margin-top:15px;
}

#id_geometrie_map {
  height:100%;
}

.action_counter {
  margin-left:10px;
}

.column-filter {
  font-weight:normal;
}

.filter-checkbox-fieldset label {
  width:100%;
  font-weight:normal;
}

.filter-checkbox-fieldset input {
  margin-right:5px;
}

.filter-input, .filter-row {
  width:90%;
}

.full-width {
  width:100%;
  padding:0;
}

.input-reset {
  right:25px;
  cursor:pointer;
}

.margin-bottom {
  margin-bottom:150px;
}

.margin-left {
  margin-left:20px;
}

.margin-top {
  margin-top:15px;
}

.required {
  font-weight:bold;
}