{% extends "base.html" %}
{% load static %}

{% block title %}Passwort ändern | {% endblock %}

{% block content %}
  <div class="d-grid col-{% if request.user_agent.is_mobile %}8{% else %}4{% endif %} mx-auto">
    {% if form.errors %}
      <div class="alert alert-danger mb-4" role="alert">
        Bitte korrigieren Sie die folgenden Fehler.
      </div>
    {% endif %}
    <form method="post" action="{% url 'accounts:password_change' %}">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input id="id_old_password" type="password" required class="form-control{% if form.old_password.errors %} is-invalid{% endif %}" name="old_password" autocomplete="current-password" placeholder="Aktuelles Passwort">
        <label for="id_old_password">Aktuelles Passwort</label>
        {% for error in form.old_password.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-floating mb-3">
        <input id="id_new_password1" type="password" required class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}" name="new_password1" autocomplete="new-password" placeholder="Neues Passwort">
        <label for="id_new_password1">Neues Passwort</label>
        {% for error in form.new_password1.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-floating mb-4">
        <input id="id_new_password2" type="password" required class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" name="new_password2" autocomplete="new-password" placeholder="Neues Passwort bestätigen">
        <label for="id_new_password2">Neues Passwort bestätigen</label>
        {% for error in form.new_password2.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit"><i class="fas fa-key"></i> Passwort ändern</button>
      </div>
    </form>
  </div>
{% endblock %}
