{% extends "base.html" %}
{% load static %}

{% block title %}Passwort zurücksetzen | {% endblock %}

{% block content %}
  <div class="d-grid col-{% if request.user_agent.is_mobile %}8{% else %}4{% endif %} mx-auto">
    <div class="alert alert-info mb-4" role="alert">
      Diese Funktion steht nicht für Anmeldungen über das zentrale Benutzerkonto zur Verfügung.
      Das zugehörige Passwort kann daher hier nicht zurückgesetzt werden.
    </div>
    <form class="form-signin" method="post" action="{% url 'accounts:password_reset' %}">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input id="id_email"
               type="email"
               required
               class="form-control{% if form.email.errors %} is-invalid{% endif %}"
               name="email"
               autocapitalize="off"
               autocomplete="email"
               placeholder="E-Mail-Adresse">
        <label for="id_email">E-Mail-Adresse</label>
        {% for error in form.email.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
      </div>
      <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit"><i class="fa-solid fa-envelope"></i> E-Mail zum Zurücksetzen senden</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <a href="{% url 'accounts:login' %}">Zurück zur Anmeldung</a>
    </div>
  </div>
{% endblock %}
