{% extends "base.html" %}
{% load static %}

{% block title %}E-Mail versendet | {% endblock %}

{% block content %}
  <div class="d-grid col-{% if request.user_agent.is_mobile %}8{% else %}4{% endif %} mx-auto">
    <div class="alert alert-info mb-4" role="alert">
      Sofern für die eingegebene E-Mail-Adresse ein Konto existiert,
      wurde eine E-Mail mit einem Link zum Zurücksetzen des Passworts versendet.
    </div>
    <div class="text-center">
      <a href="{% url 'accounts:login' %}">Zurück zur Anmeldung</a>
    </div>
  </div>
{% endblock %}
