{% extends "base.html" %}
{% load datenmanagement_tags %}

{% block title %}{{ model_verbose_name_plural }} – weiterer Datensatz? | {% endblock %}

{% block content %}
  <div class="container-xxl"
  {% if messages %}
    {% for message in messages %}
      {% if message.tags and message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
          <i class="fa-solid fa-circle-check"></i>
          {{ message|safe }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <h5>
    <small>
      Möchten Sie den soeben erfolgreich angelegten Datensatz nochmals bearbeiten oder ihn als Vorlage für einen weiteren Datensatz zum Datenthema <strong>{{ model_verbose_name_plural }}</strong> verwenden?
    </small>
  </h5>
  <div class="d-grid mt-4 gap-2">
    <a class="btn btn-success" role="button" href="{{ url_yes }}"><i class="fas fa-clone"></i> ja</a>
    <a class="btn btn-warning" role="button" href="{{ url_no }}"><i class="fas fa-hand"></i> nein</a>
  </div>
  <script>
    setTimeout(function () {
      $('.alert-success').alert('close');
    }, 3000);
  </script>
{% endblock %}
