{% extends '_base/navbar.html' %}
{% load datenmanagement_tags %}
{% load guardian_tags %}
{% load static %}

{% block title %}{{ model_verbose_name_plural }} | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datatables-1.10.21/datatables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/datalist.css' %}" />
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'datatables-1.10.21/datatables.min.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ model_verbose_name_plural }}</h2>
  <h4><small>{{ model_description }}</small></h4>
  <div class="spacer-small"></div>
  {% if object_list %}
    <h4><em>Liste aller Datensätze</em></h4>
  {% else %}
    <h4><em>Keine Datensätze vorhanden!</em></h4>
  {% endif %}
    <div class="row">
      {% if user|user_has_model_add_permission:model_name_lower %}
        <a class="btn btn-primary" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'add' %}">neuen Datensatz anlegen</a>
      {% endif %}
      {% if object_list and geometry_type %}
        <a class="btn btn-secondary btn-in-a-row" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'map' %}">Datensätze auf Karte anzeigen</a>
      {% endif %}
      <a class="btn btn-warning btn-in-a-row" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'start' %}">zurück</a>
    </div>
  {% if object_list %}
    <div class="spacer-small"></div>
    <div class="row">
      <table id="datasets" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><i class="fas fa-check-square no-export"></i></th>
            {% for label in list_fields_labels %}
              {% with schritt=forloop.counter|stringformat:'s' %}
                {% with spalte='spalte_'|add:schritt %}
                  <th>{{ label }}</th>
                {% endwith %}
              {% endwith %}
            {% endfor %}
            {% if user|user_has_model_view_permission:model_name_lower or user|user_has_model_change_permission:model_name_lower %}
              <th><i class="fas fa-eye no-export" title="Datensätze ansehen"></i> oder <i class="fas fa-edit" title="Datensätze bearbeiten"></i></th>
            {% endif %}
            {% if user|user_has_model_delete_permission:model_name_lower %}
              <th><i class="fas fa-trash no-export" title="Datensätze löschen"></i></th>
            {% endif %}
          </tr>
        </thead>
      </table>
      <script type="text/javascript">
        $(document).ready(function(){
          var table = $('#datasets').DataTable({
            ajax: '{% url 'datenmanagement:'|add:model_name|add:'data' %}',
            buttons: [
              'copyHtml5', 'excelHtml5', {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'A4',
                customize: function(doc) {
                  doc.defaultStyle.fontSize = 7;
                  doc.pageMargins = [20, 20, 20, 20];
                  doc.styles.tableHeader.fontSize = 7;
                } 
              }
            ],
            colReorder: true,
            columnDefs: [{
              'orderable': false,
              'targets': 0
            }, {
              'orderable': false,
              'targets': -2
            }, {
              'orderable': false,
              'targets': -1
            }],
            createdRow: function(row, data, dataIndex) {
              if ($(row).find('td:nth-child(2)').text() === 'nein') {
                $(row).addClass('text-muted');
              } else if ($(row).find('.text-danger').length) {
                $(row).addClass('text-danger');
              }
            },
            dom: '<Bfr<t>ilp>',
            fixedHeader: true,
            language: {
              url: '{% static 'datatables-1.10.21/datatables.german.lang' %}'
            },
            lengthMenu: [[25, 50, -1], [25, 50, 'alle']],
            order: [[ 1, 'asc' ]],
            orderCellsTop: true,
            orderClasses: false,
            orderMulti: false,
            pageLength: 25,
            processing: true,
            searchDelay: 500,
            searching: true,
            serverSide: true,
            stateSave: true
          });
        
          $('#action-button').click(function() {
            if ($('#action-select').val() === 'delete-selected') {
              var actionCheckboxes = $('.action-checkbox').filter(':checked');
              if (actionCheckboxes.length > 0) {
                actionCheckboxes.each(function() {
                  jQuery.get(window.document.location + '../deleteimmediately/' + $(this).val() + '/');
                });
                setTimeout(function() {
                  table.ajax.reload();
                  $('#action-count').text('kein Datensatz');
                }, 1000);
              }
            }
          });
        });

        $('body').on('change', '.action-checkbox', function(e) {
          var actionCheckboxes = $('.action-checkbox').filter(':checked');
          if (actionCheckboxes.length === 1)
            $('#action-count').text('1 Datensatz');
          else if (actionCheckboxes.length === 0)
            $('#action-count').text('kein Datensatz');
          else
            $('#action-count').text(actionCheckboxes.length + ' Datensätze');
        });
      </script>
    </div>
    {% if user|user_has_model_add_permission:model_name_lower %}
      <div class="spacer-small"></div>
      <div class="row">
        <div class="input-group">
          <select class="custom-select" id="action-select" name="action">
            <option selected>Aktion wählen…</option>
            <option value="delete-selected">ausgewählte Datensätze löschen</option>
          </select>
          <div class="input-group-append">
            <button id="action-button" class="btn btn-danger" type="button">Aktion ausführen</button>
            (<span id="action-count">kein Datensatz</span> ausgewählt)
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}