{% extends "base.html" %}
{% load datenmanagement_tags %}

{% block title %}{{ model_verbose_name_plural }} – Löschung | {% endblock %}

{% block content %}
  <form class="form" method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="original_url_back" value="{{ url_back }}">
    <h5>
      <small>
        Möchten Sie den Datensatz <strong><em>{{ object }}</em></strong> des Datenthemas <strong>{{ model_verbose_name_plural }}</strong> wirklich löschen?
      </small>
    </h5>
    <div class="d-grid mt-4 gap-2">
      <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i> Datensatz löschen</button>
      <a class="btn btn-warning" href="{{ url_back }}"><i class="fas fa-hand"></i> abbrechen</a>
    </div>
	</form>
{% endblock %}
