{% extends "navbar.html" %}
{% load datenmanagement_tags %}
{% load leaflet_tags %}
{% load static %}

{% block title %}Formular | {% endblock %}

{% block style %}
  {{ block.super }}
  {% leaflet_css plugins="geoman,locatecontrol" %}
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form.css' %}" />
  {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-mobile.css' %}" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-desktop.css' %}" />
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% leaflet_js plugins="geoman,locatecontrol" %}
  <script type="text/javascript" src="{% static 'proj4/proj4.js' %}"></script>
  <script type="text/javascript" src="{% static 'wicket/wicket.js' %}"></script>
  <script type="text/javascript" src="{% static 'wicket/wicket-leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'proj4leaflet/proj4leaflet.js' %}"></script>
  <script type="module" src="{% static 'martinez-polygon-clipping/martinez.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datenmanagement/js/cartographicHelpers.js' %}"></script>
  <script type="text/javascript" src="{% static 'datenmanagement/js/genericHelpers.js' %}"></script>
  <script type="module" src="{% static 'datenmanagement/js/leafletHelpers.js' %}"></script>
{% endblock %}

{% block content %}
  {% if form.errors %}
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            {% autoescape off %}
              {{ error }}
            {% endautoescape %}
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {{ error|customize_error_message }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="mb-4"></div>
  {% endif %}
  {% if associated_new %}
    <div class="alert alert-primary" role="alert">
      <h5 class="alert-heading">assoziierte Datensätze</h5>
      {% if object and associated_objects %}
        <ul>
          {% for associated_object in associated_objects %}
            <li>{{ associated_object.title }} {{ associated_object.name }} <a href="{{ associated_object.link }}" target="_blank" rel="noopener noreferrer" title="{{ associated_object.title }} ansehen oder bearbeiten"><i class="fas fa-arrow-up-right-from-square"></i></a></li>{% if associated_object.preview_img_url %} <a href="{{ associated_object.preview_img_url }}" target="_blank" rel="noopener noreferrer" title="große Ansicht öffnen…"><img src="{% if associated_object.preview_thumb_url %}{{ associated_object.preview_thumb_url }}{% else %}{{ associated_object.preview_img_url }}{% endif %}" alt="Vorschau" width="50px" /></a>{% endif %}
          {% endfor %}
        </ul>
      {% else %}
        (noch) keine assoziierten Datensätze vorhanden
      {% endif %}
      {% if user|user_has_model_change_permission:model_name_lower %}
        <hr/>
        {% for associated_new_entry in associated_new %}
          <p class="{% if forloop.last %}mb-1{% else %}mb-3{% endif %}">
            <a class="btn btn-primary" role="button" href="{{ associated_new_entry.link }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-arrow-up-right-from-square"></i> {{ associated_new_entry.title }} anlegen</a>
          </p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="mb-4"></div>
  {% endif %}
  <form class="form" role="form" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div {% if geometry_type %}id="custom-form"{% endif %}>
      <table class="table table-striped">
        {% for field in form %}
          {% if not field|is_field_address_related_field and not field|is_field_geometry_field %}
            <tr>
              <td>
                {% if field.name in catalog_link_fields_names %}
                  {{ field.label_tag }} <small>(<a href="{{ catalog_link_fields|get_dict_value_by_key:field.name }}"><i class="fas fa-circle-info"></i> ALKIS-Katalog</a>)</small>
                {% elif field|is_field_hours_related_field %}
                  {{ field.label_tag }} <small>(<a href="{% static 'hilfe/work/datensatz-anlegen.html' %}#datensatz-anlegen-oeffnungszeiten"><i class="fas fa-circle-question"></i> Hilfe</a>)</small>
                {% elif fields_with_foreign_key_to_linkify and field.name in fields_with_foreign_key_to_linkify %}
                  {% if object and user|user_has_model_change_permission:model_name_lower %}
                    {% with foreign_model=object|get_value_of_field:field.name|get_class_name %}
                      {{ field.label_tag }} <a href="{% url 'datenmanagement:'|add:foreign_model|add:'change' field.value %}" id="link_{{ field.name }}"> <i class="fas fa-arrow-up-right-from-square" title="{{ field.label }} ansehen oder bearbeiten"></i></a>
                    {% endwith %}
                  {% else %}
                    {% with foreign_model=field.name|get_foreign_key_field_class_name:model_name %}
                      {{ field.label_tag }} <a hidden href="{% url 'datenmanagement:'|add:foreign_model|add:'change' '' %}" id="link_{{ field.name }}"> <i class="fas fa-arrow-up-right-from-square" title="{{ field.label }} ansehen oder bearbeiten"></i></a>
                    {% endwith %}
                  {% endif %}
                {% elif postcode_assigner and field.name == postcode_assigner %}
                  {% if not object and user|user_has_model_add_permission:model_name_lower or object and user|user_has_model_change_permission:model_name_lower %}
                    {{ field.label_tag }} <span><i id="postcode-assigner" class="fas fa-gears text-{% if geometry %}success enabled{% else %}black-50{% endif %}"{% if geometry %} title="Postleitzahl automatisch zuweisen"{% endif %}></i></span>
                  {% endif %}
                {% else %}
                  {{ field.label_tag }}
                {% endif %}
              </td>
              {% autoescape off %}
                <td>
                  {{ field }}
                </td>
              {% endautoescape %}
            </tr>
          {% endif %}
        {% endfor %}
        {% if gpx_input %}
          <tr>
            <td>
              <label for="id_gpx" class="required">GPX-Datei</label>
            </td>
            <td>
              <div class="custom-file">
                <input class="form-control" type="file" id="id_gpx" name="gpx" accept=".gpx"/>
              </div>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>
    {% if geometry_type %}
      <div id="map-adresssearch-container-form">
        <label hidden for="id_geometrie" class="form-label">Geometrie</label>
        {% if geometry %}
          <textarea hidden id="id_geometrie" class="required django-leaflet-raw-textarea" name="geometrie" cols="150" rows="4">{{ geometry }}</textarea>
        {% else %}
          <textarea hidden id="id_geometrie" class="required django-leaflet-raw-textarea" name="geometrie" cols="150" rows="4">{ "type": "{{ geometry_type }}", "coordinates": [] }</textarea>
        {% endif %}
        {% leaflet_map "id-geometrie-map" callback="window.mapCallbackFunction" %}
        {% if not object and user|user_has_model_add_permission:model_name_lower or object and user|user_has_model_change_permission:model_name_lower %}
          {% if geometry_type == 'Point' or address_type and not address_mandatory %}
            <div class="d-grid mt-3 gap-2 d-md-block">
              {% if geometry_type == 'Point' %}
                <button disabled id="addressToMap" class="btn btn-success" type="button"><i class="fas fa-location-dot"></i> Marker setzen</button>
              {% endif %}
              {% if not address_mandatory %}
                {% if address_type == 'Adresse' %}
                  <button disabled id="mapToAddress" class="btn btn-success" type="button"><i class="fas fa-house"></i> Adresse übernehmen</button>
                {% elif address_type == 'Straße' %}
                  <button disabled id="mapToStreet" class="btn btn-success" type="button"><i class="fas fa-road"></i> Straße übernehmen</button>
                {% elif address_type == 'Gemeindeteil' %}
                  <button disabled id="mapToQuarter" class="btn btn-success" type="button"><i class="fas fa-circle-dot"></i> Gemeindeteil übernehmen</button>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
        <div class="mt-3">
          {% if address_type %}
            {% if address_type == 'Adresse' %}
              <label for="id_adresse" class="form-label{% if address_mandatory %} required{% endif %}">{{ address_type }}</label>
              <div class="form-floating">
                {{ form.adresse }}
                <label for="id_adresse">{{ address_type }} eingeben…</label>
              </div>
              <input id="id_adresse_uuid" type="hidden" name="adresse_uuid" value="{% if current_address %}{{ current_address }}{% endif %}"/>
            {% elif address_type == 'Straße' %}
              <label for="id_strasse" class="form-label{% if address_mandatory %} required{% endif %}">{{ address_type }}</label>
              <div class="form-floating">
                {{ form.strasse }}
                <label for="id_strasse">{{ address_type }} eingeben…</label>
              </div>
              <input id="id_strasse_uuid" type="hidden" name="strasse_uuid" value="{% if current_street %}{{ current_street }}{% endif %}"/>
            {% elif address_type == 'Gemeindeteil' %}
              <label for="id_gemeindeteil" class="form-label{% if address_mandatory %} required{% endif %}">{{ address_type }}</label>
              <div class="form-floating">
                {{ form.gemeindeteil }}
                <label for="id_gemeindeteil">{{ address_type }} eingeben…</label>
              </div>
              <input id="id_gemeindeteil_uuid" type="hidden" name="gemeindeteil_uuid" value="{% if current_quarter %}{{ current_quarter }}{% endif %}"/>
            {% endif %}
          {% else %}
            {% if not object and user|user_has_model_add_permission:model_name_lower or object and user|user_has_model_change_permission:model_name_lower %}
              <label for="address-search" class="form-label">Adressensuche</label>
              <div class="form-floating">
                <input id="address-search" type="text" class="form-control" name="address_search" autocapitalize="off" autocomplete="off" placeholder="Adresse, Straße oder Gemeindeteil eingeben…"/>
                <label for="address-search">Adresse, Straße oder Gemeindeteil eingeben…</label>
              </div>
            {% endif %}
          {% endif %}
          <div id="results-container" class="results"></div>
        </div>
      </div>
    {% endif %}
    <div id="buttons">
      <div class="d-grid mt-5 mb-3 gap-2 d-md-block">
        {% if not object and user|user_has_model_add_permission:model_name_lower or object and user|user_has_model_change_permission:model_name_lower %}
          <button class="btn btn-success" type="submit" onclick="setFinalGeometry();"><i class="fas fa-floppy-disk"></i> speichern</button>
        {% endif %}
        {% if object and user|user_has_model_delete_permission:model_name_lower %}
          <a class="btn btn-danger" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'delete' object.pk %}"><i class="fas fa-trash"></i> löschen</a>
        {% endif %}
        <a class="btn btn-warning" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'start' %}"><i class="fas fa-hand"></i> abbrechen</a>
      </div>
    </div>
    {% if address_type %}
      <div id="{% if address_type == 'Adresse' %}maptoaddress{% elif address_type == 'Straße' %}maptostreet{% elif address_type == 'Gemeindeteil' %}maptoquarter{% endif %}-error-modal" class="modal fade" tabindex="-1" aria-labelledby="{% if address_type == 'Adresse' %}maptoaddress{% elif address_type == 'Straße' %}maptostreet{% elif address_type == 'Gemeindeteil' %}maptoquarter{% endif %}-error-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="{% if address_type == 'Adresse' %}maptoaddress{% elif address_type == 'Straße' %}maptostreet{% elif address_type == 'Gemeindeteil' %}maptoquarter{% endif %}-error-modal-header">
              <h5 class="modal-title">Keine automatische Zuordnung {% if address_type == 'Gemeindeteil' %}eines{% else %}einer{% endif %} {{ address_type }} möglich!</h5>
            </div>
            <div class="modal-body">
              Bitte setzen Sie den Marker bzw. zeichnen Sie die Linie oder Fläche in der Karte {{ REVERSE_SEARCH_RADIUS }} m oder dichter an {% if address_type == 'Gemeindeteil' %}den nächsten{% else %}die nächste{% endif %} {{ address_type }} heran.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if gpx_input %}
      <div id="id_gpxLoading" class="modal fade" tabindex="-1" aria-labelledby="id_gpxLoading-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="id_gpxLoading-header">
              <h5 class="modal-title" id="id_gpxLoading-title">Auswerten der GPX-Datei</h5>
            </div>
            <div class="modal-body" id="id_gpxLoading-body">
              Die GPX-Datei wird zum Server hochgeladen und ausgewertet. Dies kann einen Moment dauern.
              <div class="text-center">
                <div class="spinner-border m-4 text-primary" role="status">
                  <span class="sr-only">laden…</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if postcode_assigner %}
      <div id="id_postcodeAssigning" class="modal fade" tabindex="-1" aria-labelledby="id_postcodeAssigning-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="id_postcodeAssigning-header">
              <h5 class="modal-title" id="id_postcodeAssigning-title">Fehler bei Zuweisung einer Postleitzahl</h5>
            </div>
            <div class="modal-body" id="id_postcodeAssigning-body">
              Es ist ein Fehler bei der automatischen Zuweisung einer Postleitzahl aufgetreten. Bitte versuchen Sie es erneut oder kontaktieren Sie einen Administrator.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </form>
  <script type="text/javascript">
    /**
    * @function
    * @name mapCallbackFunction
    *
    * behandelt als Callback-Funktion die übergebene Karte
    *
    * @param {Object} map - Karte
    */
    function mapCallbackFunction(map) {
      // Konstanten für Karte setzen
      setMapConstants(map);

      // ggf. zusätzliche Karten definieren, die dann beim Konfigurieren der Karte zu den Overlay-Karten hinzugefügt werden
      let additionalWmsLayers = {};
      {% if additional_wms_layers %}
        {% for additional_wms_layer in additional_wms_layers %}
          additionalWmsLayers['{{ additional_wms_layer.title }}'] = L.tileLayer.wms('{{ additional_wms_layer.url }}', {
            layers: '{{ additional_wms_layer.layers }}',
            format: map._wmsFormat,
            maxZoom: map._maxLayerZoom,
            transparent: true
          });
        {% endfor %}
      {% endif %}

      // Karte konfigurieren
      configureMap(map, '{% url "datenmanagement:owsproxy" %}', additionalWmsLayers);

      // Karte auch in anderen Scopes bzw. außerhalb der Funktion mapCallbackFunction verfügbar machen
      window.currMap = map;

      // bei mobilen Geräten: Standortbestimmung hinzufügen
      {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        enableMapLocate(map);
      {% endif %}

      // globalen Marker für Leaflet konfigurieren und auch in anderen Scopes bzw. außerhalb der Funktion mapCallbackFunction verfügbar machen
      window.redMarker = new L.Icon({
        iconUrl: '{% static "datenmanagement/img/leaflet-markers/marker-red.svg" %}',
        shadowUrl: '{% static "datenmanagement/img/leaflet-markers/marker-shadow.png" %}',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });

      // globale Variable für Feature-Geometrie auch in anderen Scopes bzw. außerhalb der Funktion mapCallbackFunction verfügbar machen
      window.featureGeometry = [];

      // Leaflet-Geoman konfigurieren
      {% if geometry_type == 'Point' %}
        configureLeafletGeoman(map, 'Point');
      {% elif 'LineString' in geometry_type and model_name != 'Fallwildsuchen_Nachweise' %}
        configureLeafletGeoman(map, 'LineString');
      {% elif geometry_type == 'Polygon' %}
        configureLeafletGeoman(map, 'Polygon');
      {% elif geometry_type == 'MultiPolygon' %}
        configureLeafletGeoman(map, 'MultiPolygon');
      {% else %}
        configureLeafletGeoman(map);
      {% endif %}

      // falls Geometrie vorhanden...
      {% if geometry %}
        // vorhandene Geometrie auf Karte anzeigen
        map.loadGeometryFromField('#id_geometrie')
      {% endif %}

      // zusätzliche Datenthemen anbieten
      {% if model_name != 'Fallwildsuchen_Nachweise' %}
        // Layer-Control hinzufügen zum Anzeigen zusätzlicher Datenthemen
        let dataLayerControl = new L.control.layers({}, {}).addTo(map);

        // alle Datenthemen durchgehen...
        {% for key, value in model_list.items %}
          {% with datenthema_name_lower=key|lower %}
            map._themaUrl = {...map._themaUrl, '{{ value }}': '{% url 'datenmanagement:'|add:key|add:'geometry' %}'};
            // neuen GeoJSON-Layer für Datenthema initialisieren
            let {{ datenthema_name_lower }} = new L.Proj.geoJson();
            // neuen GeoJSON-Layer für Datenthema zur Layer-Control hinzufügen
            dataLayerControl.addOverlay({{ datenthema_name_lower }}, '{{ value }}')
            // beim Zuschalten des GeoJSON-Layers Features laden
            {{ datenthema_name_lower }}.on('add', function () {
              if (map.getZoom() > map._minLayerZoom) {
                // Features zum entsprechenden GeoJSON-Layer hinzufügen
                map.loadExternalData(
                  '{% url 'datenmanagement:'|add:key|add:'geometry' %}',
                  this
                );
                map.eachLayer((layer) => {
                  // GeoJSON-Layer „anheben“, der bearbeitet wird
                  if (layer._drawnByGeoman === true) {
                    if (layer instanceof L.Marker)
                      layer.setZIndexOffset(1000);
                    else
                      layer.bringToFront();
                  }
                });
              }
            });
          {% endwith %}
        {% endfor %}

        // beim Bewegen der Karte Features nachladen
        map.on('moveend', () => {
          map.updateMap(dataLayerControl);
        });
        map.on('zoomend', () => {
          map.updateMap(dataLayerControl);
        })
      {% endif %}

      /**
       * @function
       *
       * prüft beim Start des Modus „Zeichnen“, ob es bereits einen Leaflet-Geoman-Layer gibt, und löscht diesen gegebenenfalls
       */
      map.on('pm:drawstart', function() {
        {% if geometry_type == 'Point' or geometry_type == 'LineString' or geometry_type == 'Polygon' %}
          if (map.pm.getGeomanLayers().length > 0) {
            map.pm.getGeomanLayers().forEach((item) => {
              if (item._drawnByGeoman === true)
                map.removeLayer(item);
            })
          }
        {% endif %}
      });

      // falls Datenmodell Adressenbezug vorsieht...
      {% if address_type %}
        /**
         * @function
         *
         * setzt, falls der Adressenbezug verpflichtend ist,
         * beim Hinzufügen oder Editieren einer Geometrie die Adresse oder die Straße
         * und aktiviert die Postleitzahl-Auto-Zuweisung
         *
         * @param {Object} layer - Layer (= Feature)
         */
        map.on('pm:create', function({layer}) {
          {% if address_mandatory %}
            // Adressenbezug für gesetze Geometrie setzen
            setAddressReference('{{ address_type }}', layer);
            // bei Bewegungs-Event Adressenbezug neu setzen
            {% if geometry_type == 'Point' %}
              layer.on('pm:dragend', (e) => {
                setAddressReference('{{ address_type }}', e.layer);
              });
            {% else %}
              layer.on('pm:update', (e) => {
                setAddressReference('{{ address_type }}', e.layer);
              });
            {% endif %}
            $('#postcode-assigner').removeClass('text-black-50');
            $('#postcode-assigner').addClass('text-success enabled');
            $('#postcode-assigner').attr('title', 'Postleitzahl automatisch zuweisen');
          {% else %}
            $('#mapToAddress').prop('disabled', false);
            $('#mapToStreet').prop('disabled', false);
            $('#mapToQuarter').prop('disabled', false);
          {% endif %}
        });
      {% endif %}
    }

    /**
     * @function
     *
     * Hauptfunktion
     */
    $(document).ready(function() {
      // falls Gruppe von Benutzern gesetzt ist, die für das Feld Ansprechpartner/Bearbeiter in einer entsprechenden Auswahlliste genutzt werden sollen...
      {% if group_with_users_for_choice_field %}
          // alle Felder durchgehen...
          {% for field in form %}
            {% if field.name == 'ansprechpartner' or field.name == 'bearbeiter' %}
              // falls Benutzer kein Änderungsrecht am Datenmodell hat...
              {% if not user|user_has_model_change_permission:model_name_lower %}
                // Auswahlfeld Ansprechpartner/Bearbeiter in normales Feld umwandeln
                let value;
                {% if field.name == 'ansprechpartner' %}
                  value = '{{ object.ansprechpartner }}';
                {% endif %}
                {% if field.name == 'bearbeiter' %}
                  value = '{{ object.bearbeiter }}';
                {% endif %}
                let inputField = $('<input>').attr({
                  id: 'id_' + '{{ field.name }}',
                  class: 'form-control',
                  type: 'text',
                  name: '{{ field.name }}',
                  value: value
                });
                $('select#id_' + '{{ field.name }}').replaceWith(inputField);
              // ansonsten...
              {% else %}
                // lediglich Bootstratp-5-CSS-Klasse ergänzen
                $('select#id_' + '{{ field.name }}').addClass('form-select');
              {% endif %}
            {% endif %}
          {% endfor %}
      {% endif %}

      // Checkboxen in Multiple-Choice-Feldern an Bootstrap 5 anpassen
      $('ul input[type="checkbox"]').each(function () {
          $(this).addClass('form-check-input');
      });

      // Read-only-Felder behandeln
      {% if readonly_fields %}
        {% for field in readonly_fields %}
          inputField = $('input#id_' + '{{ field }}');
          {% if object and user|user_has_model_change_permission:model_name_lower %}
            if (!inputField.val()) {
              inputField.closest('tr').hide();
            } else {
              let wert = inputField.val();
              if (inputField.attr('type') === 'date') {
                let datum = new Date(inputField.val());
                wert = datum.toLocaleDateString('de-DE', options = {day: '2-digit', month: '2-digit', year: 'numeric'});
              }
              inputField.parent().append('<span id="' + inputField.attr('id') + '" title="nicht editierbar – automatisch vergeben"><em>' + wert + '</em></span>');
              let label = inputField.parent().closest('tr').find('label');
              label.wrapInner('<em></em>');
              inputField.hide();
            }
          {% else %}
            inputField.closest('tr').hide();
          {% endif %}
        {% endfor %}
      {% endif %}

      // falls Benutzer kein Änderungsrecht am Datenmodell hat...
      {% if not user|user_has_model_change_permission:model_name_lower %}
        // alle Felder deaktivieren
        $('input').each(function () {
            $(this).prop('disabled', true);
        });
        $('select').each(function () {
            $(this).prop('disabled', true);
        });
        $('textarea').each(function () {
            $(this).prop('disabled', true);
        });
      {% endif %}

      // Multi-Foto-Upload-Feld behandeln
      let fotoField = $('input#id_foto');
      if (fotoField.length) {
        fotoField.attr('accept', 'image/*');
        {% if multi_foto_field %}
          if (fotoField[0].files.length === 0)
            fotoField.attr('multiple', 'multiple');
        {% endif %}
      }

      // PDF-Upload-Feld behandeln
      let pdfField = $('input#id_pdf');
      if (pdfField.length) {
        pdfField.attr('accept', 'application/pdf');
      }

      // Adressensuche initialisieren
      // dabei Resultate der Adressensuche auch in anderen Scopes bzw. außerhalb der Hauptfunktion verfügbar machen
      window.results = $('div.results');
      {% if address_type %}
        window.addressType = '{{ address_type }}';
      {% else %}
        window.addressType = '';
      {% endif %}
      if (window.addressType === 'Adresse') {
        window.searchField = $('#id_adresse');
        window.addressUuidField = $('#id_adresse_uuid');
      } else if (window.addressType === 'Straße') {
        window.searchField = $('#id_strasse');
        window.addressUuidField = $('#id_strasse_uuid');
      } else if (window.addressType === 'Gemeindeteil') {
        window.searchField = $('#id_gemeindeteil');
        window.addressUuidField = $('#id_gemeindeteil_uuid');
      } else {
        window.searchField = $('#address-search');
        window.addressUuidField = null;
      }
      initializeAddressSearch(searchField, '{% url "datenmanagement:addresssearch" %}', addressType, addressUuidField);

      // bei Klick auf Button „Marker setzen“...
      $('#addressToMap').on('click', function() {
        // Marker in der Karte auf Adresse oder Straße aus Adressensuche setzen
        setMarkerToAddressOrStreet(window.currMap);
        $('#mapToAddress').prop('disabled', false);
        $('#mapToStreet').prop('disabled', false);
        $('#mapToQuarter').prop('disabled', false);
      });

      // bei Klick auf Button „Adresse übernehmen“...
      $('#mapToAddress').on('click', function() {
        // aktuelle Adresse der Geometrie in der Karte übernehmen
        setAddressReference(window.addressType, window.currMap.pm.getGeomanLayers()[0]);
        $('#addressToMap').prop('disabled', false);
      });

      // bei Klick auf Button „Straße übernehmen“...
      $('#mapToStreet').on('click', function() {
        // aktuelle Straße der Geometrie in der Karte übernehmen
        setAddressReference(window.addressType, window.currMap.pm.getGeomanLayers()[0]);
        $('#addressToMap').prop('disabled', false);
      });

      // bei Klick auf Button „Gemeindeteil übernehmen“...
      $('#mapToQuarter').on('click', function() {
        // aktuellen Gemeindeteil der Geometrie in der Karte übernehmen
        setAddressReference(window.addressType, window.currMap.pm.getGeomanLayers()[0]);
        $('#addressToMap').prop('disabled', false);
      });

      // verhindern, dass HTML5-/jQuery-Fehlermeldungen bei Pflichtfeldern die Django-Fehlermeldungen überdecken
      $('[required]').removeAttr('required');

      // bei Desktop und bei vorhandener Karte:
      // vertikale Position der Buttons dynamisch setzen anhand von Position und Größe des Formulars (plus „Puffer“ von 20 Pixeln)
      {% if not request.user_agent.is_mobile and not request.user_agent.is_tablet and geometry_type %}
        let top = $('#custom-form').position().top + $('#custom-form').height() + 20;
        $('#buttons').offset({
          top: top
        });
      {% endif %}

      // Labels für verpflichtende Boolean-Felder anpassen
      $('input[type="checkbox"]:not([value])').parent().parent().find('label').addClass('required');

      // Fremdschlüssellinks dynamisch anpassen je nach aktueller Auswahl in entsprechenden Auswahlfeldern (bei leerer Auswahl Link verstecken)
      {% if fields_with_foreign_key_to_linkify and user|user_has_model_change_permission:model_name_lower or not object %}
        {% for field in fields_with_foreign_key_to_linkify %}
          $('select#id_' + '{{ field }}').each(function () {
            $(this).on('change', function() {
              let link = $('a#link_' + '{{ field }}');
              let href = link.prop('href');
              let value = $(this).find(':selected').val();
              if (value) {
                href = href.replace(/\/change\/.*/, '/change/' + value + '/');
                link.prop('href', href);
                link.prop('hidden', false);
              } else
                link.prop('hidden', true);
            });
          });
        {% endfor %}
      {% endif %}

      // Links auf vorhandene Fotos, PDF etc. immer in neuem Tab öffnen
      $('td').find('a').attr('title', 'in neuem Tab öffnen…');
      $('td').find('a').attr('target', '_blank');
      $('td').find('a').attr('rel', 'noopener noreferrer');

      // Links auf vorhandene Fotos, PDF etc. sowie entsprechende Upload-Buttons mit ordentlichem Text versehen
      $('td').find('a').parent().contents().filter(function () {
        return this.nodeType === 3
      }).remove();
      $('td').find('a').parent().find('input[type="file"]').before('ändern in: ');
      $('<br>').insertBefore($('input[type="checkbox"][name$="-clear"]'));
      $('label[for$="-clear_id"]').addClass('label-with-margin');
      $('label[for$="-clear_id"]').text('löschen');

      // bestimmte Werte in Auswahllisten mit Kleinbuchstaben versehen
      $('td').find('option').each(function () {
        if ($(this).text() === 'Unbekannt')
          $(this).text('unbekannt');
        else if ($(this).text() === 'Ja')
          $(this).text('ja');
        else if ($(this).text() === 'Nein')
          $(this).text('nein');
      });
    });

    /**
     * @function
     * @name setMarkerToAddressOrStreet
     *
     * @param {Object} map - Karte
     *
     * setzt Marker in der Karte auf Adresse oder Straße aus Adressensuche
     */
    function setMarkerToAddressOrStreet(map) {
      if (map.pm.getGeomanLayers().length > 0) {
        let layer = map.pm.getGeomanLayers()[0];
        if (layer._drawnByGeoman && layer._latlng) {
          let latLng = getFeatureGeometryLatLng(featureGeometry);
          if (latLng[0] !== 0 && latLng[1] !== 0)
            layer.setLatLng(latLng);
        }
      } else {
        {% if geometry_type == 'Point' %}
          let layer = new L.Marker(getFeatureGeometryLatLng(featureGeometry), {
            icon: redMarker
          });
          layer._drawnByGeoman = true;
          layer.addTo(window.currMap);
        {% endif %}
      }
    }

    /**
     * @function
     * @name setAddressReference
     *
     * @param addressType - Typ des Adressenbezugs (Adresse, Straße oder Gemeindeteil)
     * @param {Object} layer - Layer
     *
     * übernimmt aktuellen Adressenbezug der Geometrie in der Karte
     */
    function setAddressReference(addressType, layer) {
      let geoJson = layer.toGeoJSON();
      let geometryType;
      {% if 'point' in geometry_type|lower %}
        geometryType = 'Point';
      {% elif 'line' in geometry_type|lower %}
        geometryType = 'LineString';
      {% elif 'polygon' in geometry_type|lower %}
        geometryType = 'Polygon';
      {% endif %}
      let ort = getFeatureCenter(geoJson, geometryType);
      let url = '{% url "datenmanagement:reversesearch" %}';
      fetch(url + '?search_class=address&x=' + ort[0] + '&y=' + ort[1], {
        method: 'GET'
      })
      .then(response => response.json())
      .then(data => {
        if (ort[0] !== 0 && ort[1] !== 0)
          adoptReverseSearchResult(data, addressType);
      })
      .catch(error => console.log(error))
    }

    /**
     * @function
     * @name adoptReverseSearchResult
     *
     * @param {JSON} geoJson - Resultate der Suche nach Objekten in bestimmtem Radius um gegebene Koordinaten
     * @param {string} addressType - Typ des Adressenbezugs (Adresse, Straße oder Gemeindeteil)
     *
     * adaptiert die Resultate der Suche nach Objekten in bestimmtem Radius um gegebene Koordinaten
     */
    function adoptReverseSearchResult(geoJson, addressType) {
      let erfolg = false;
      jQuery.each(geoJson.features, function(index, item) {
        if (item.properties.objektgruppe === addressType) {
          let text = item.properties._title_.substring(item.properties._title_.lastIndexOf(', ') + 2);
          if (item.properties.gemeindeteil_abkuerzung)
            text += ' (' + item.properties.gemeindeteil_abkuerzung + ')';
          searchField.val(text);
          if (addressUuidField)
            addressUuidField.val(item.properties.uuid);
          erfolg = true;
          return false;
        }
      });
      if (erfolg === false) {
        if (addressType === 'Adresse')
          toggleModal($('#maptoaddress-error-modal'));
        else if (addressType === 'Straße')
          toggleModal($('#maptostreet-error-modal'));
      }
    }

    /**
     * @function
     * @name setFinalGeometry
     *
     * übernimmt erstellte Geometrie(n) aus der Karte final in Feld #id_geometry
     */
    function setFinalGeometry() {
      {% if geometry_type %}
        let jsonGeometrie;
        if (currMap.pm.getGeomanDrawLayers().length < 1) {
          let coordinates;
          {% if geometry_type == 'Point' %}
            coordinates = [0, 0];
          {% elif geometry_type == 'Polygon' %}
            coordinates = [[]];
          {% else %}
            coordinates = [];
          {% endif %}
          jsonGeometrie = {
            'type': '{{ geometry_type }}',
            'coordinates': coordinates
          };
        } else {
          {% if geometry_type == 'MultiPolygon' or geometry_type == 'MultiPoint' or geometry_type == 'MultiLineString' %}
            let coordinates = [];
            let temp;
            currMap.pm.getGeomanDrawLayers().forEach(function (layer) {
              temp = layer.toGeoJSON().geometry;
              if (temp.type.search('Multi') > -1) {
                for (let i = 0; i < temp.coordinates.length; i++) {
                  coordinates.push(temp.coordinates[i]);
                }
              } else {
                coordinates.push(temp.coordinates);
              }
            });
            jsonGeometrie = {
              'type': '{{ geometry_type }}',
              'coordinates': coordinates,
            };
          {% else %}
            jsonGeometrie = currMap.pm.getGeomanDrawLayers()[0].toGeoJSON().geometry;
          {% endif %}
        }
        $('#id_geometrie').val(JSON.stringify(jsonGeometrie));
        // setzt Referenz aus Feld mit UUID der referenzierten Adresse,
        // der referenzierten Straße oder des referenzierten Gemeindeteils
        if (addressUuidField && $.trim(searchField.val()).length)
          searchField.val(addressUuidField.val());
      {% endif %}
    }

    {% if gpx_input %}
      // bei Auswahl einer Datei im GPX-Upload-Feld wird dessen Label mit dem Namen der Datei überschrieben
      // und die ausgewählte GPX-Datei zum Server geschickt; als Antwort des Servers wird der Inhalt der GPX-Datei
      // als GeoJSON mit den zusätzlichen Attributen mit Start- und Endzeitpunkt erwartet;
      // diese Attribute werden nach dem erfolgreichen Empfangen der Antwort des Servers in die dafür vorgesehenen Input-Felder geschrieben
      // und die Geometrie auf die Karte gezeichnet
      $('#id_gpx').change(function(e) {
        toggleModal($('#id_gpxLoading'));
        let file = e.target.files[0];
        let formData = new FormData();
        formData.append('gpx', file);
        // Leaflet-Geoman-Layer von Karte entfernen (falls zuvor schon eine GPX-Datei hochgeladen wurde)
        currMap.pm.getGeomanLayers().forEach((layer) => {
          if (layer.toGeoJSON().properties.datenthema !== 'Fallwildsuchen_Kontrollgebiete') {
            layer.remove();
          }
        });
        // Upload der GPX-Datei und Warten auf Antwort des Servers
        fetch(
          '{% url "datenmanagement:gpxtogeojson" %}', {
            method: 'POST',
            body: formData,
          }
        ).then(
          (response) => {
            return response.json();
          }
        ).then(
          (data) => {
            // falls Fehler bei der Kommunikation mit FME auftrat...
            if (data.StatusCode) {
              // Ausgabe der Fehlermeldung
              console.log('Fehler bei Kommunikation mit FME');
              console.log(data);
            // ansonsten...
            } else {
              // Start- und Endzeitpunkt aus GeoJSON auslesen und in die dafür vorgesehenen Input-Felder schreiben
              $('#id_startzeitpunkt').val(data.features[0].properties.startzeitpunkt.slice(0, 19));
              $('#id_endzeitpunkt').val(data.features[0].properties.endzeitpunkt.slice(0, 19));
              // Layer erzeugen
              let track = new L.geoJSON(data, {
                color: 'red'
              });
              // erzeugten Layer und alle Sublayer zu Leaflet-Geoman-Draw-Layer hinzufügen
              track._changeGeom = true;
              track.eachLayer((layer) => {
                layer._drawnByGeoman = true;
              });
              // Leaflet-Geoman-Draw-Layer zur Karte hinzufügen
              track.addTo(currMap);
            }
            toggleModal($('#id_gpxLoading'));
          }
        ).catch(
          (error) => {
            $('#id_gpxLoading-title').text('Fehler bei Kommunikation mit Server');
            $('#id_gpxLoading-body').text(
              'Es ist ein Fehler bei der Kommunikation mit dem Server aufgetreten. Bitte versuchen Sie es erneut oder kontaktieren Sie einen Administrator.'
            );
            $('#id_gpxLoading-body').after(
              '<div class="modal-footer">' +
                '<button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>' +
              '</div>'
            );
            console.error(error);
          }
        );
      });
    {% endif %}

    {% if postcode_assigner %}
      // beim Klick auf das Icon für die automatische Zuweisung einer Postleitzahl wird der Server entsprechend angefragt;
      // als Antwort des Servers wird ein GeoJSON mit einem Attribut mit der Postleitzahl erwartet;
      // dieses Attribute wird nach dem erfolgreichen Empfangen der Antwort des Servers in das dafür vorgesehene Input-Feld geschrieben
      // und die Geometrie auf die Karte gezeichnet
      $('#postcode-assigner').parent('span').click(function() {
        let geoJson = currMap.pm.getGeomanLayers()[0].toGeoJSON();
        let geometryType;
        {% if 'point' in geometry_type|lower %}
          geometryType = 'Point';
        {% elif 'line' in geometry_type|lower %}
          geometryType = 'LineString';
        {% elif 'polygon' in geometry_type|lower %}
          geometryType = 'Polygon';
        {% endif %}
        let ort = getFeatureCenter(geoJson, geometryType);
        // Anfragen des Servers und Warten auf Antwort des Servers
        let params = {
          search_class: 'postcode_areas',
          x: ort[0],
          y: ort[1]
        };
        let query = Object.keys(params).map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k])).join('&');
        let url = '{% url "datenmanagement:reversesearch" %}' + '?' + query;
        fetch(
          url
        ).then(
          (response) => {
            return response.json();
          }
        ).then(
          (data) => {
            if (data.features[0].properties.postleitzahl && typeof data.features[0].properties.postleitzahl == 'string')
              $('#postcode-assigner').parent().parent().next().find('input').val(data.features[0].properties.postleitzahl);
          }
        ).catch(
          (error) => {
            console.error(error);
            toggleModal($('#id_postcodeAssigning'));
          }
        );
      });
    {% endif %}

    {% if model_name == 'Fallwildsuchen_Nachweise' %}
      // bei Zuweisung eines bzw. Änderung des Kontrollgebietes im Rahmen einer Fallwildsuche
      // wird dessen Geometrie auf die Karte gezeichnet
      $('#id_kontrollgebiet').change(function() {
        let element = $('#id_kontrollgebiet option:selected')[0];
        let url = "{% url 'datenmanagement:'|add:'Fallwildsuchen_Kontrollgebiete'|add:'geometry' %}";
        currMap.pm.getGeomanLayers().forEach((layer) => {
          if (layer.toGeoJSON().properties.datenthema) {
            layer.remove();
          }
        });
        fetch(
          String(url + '?pk=' + element.getAttribute('value'))
        ).then(
          (response) => {
            return response.json();
          }
        ).then(
          (data) => {
            let wkt = new Wkt.Wkt();
            let geom = data.geometry;
            wkt.read(geom.substring(geom.indexOf(';') + 1, geom.length));
            let geoJsonFeature = {
              type: 'Feature',
              geometry: null,
              properties: {
                'uuid': data.uuid,
                'datenthema': data.model_name,
              },
              crs: {
                type: 'name',
                properties: {
                  'name': 'urn:ogc:def:crs:EPSG::4326'
                }
              }
            };
            geoJsonFeature.geometry = wkt.toJson();
            new L.geoJSON(geoJsonFeature).addTo(currMap);
          }
        ).catch(
          (error) => {
            console.error(error);
          }
        );
      });
    {% endif %}
  </script>
{% endblock %}
