{% extends "base.html" %}
{% load static %}
{% load datenmanagement_tags %}

{% block title %}Datenmanagement | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/index.css' %}">
{% endblock %}

{% block content %}
  {% if models_meta or models_codelist or models_complex or models_simple %}
    <h2>Datenthemen, die Ihnen zur Verfügung stehen:</h2>
    <nav>
      <div class="nav nav-tabs" id="nav-tabs" role="tablist">
        {% if models_meta %}
      	  <button class="nav-link active" id="nav-meta-themen-tab" data-bs-toggle="tab" data-bs-target="#nav-meta-themen" type="button" role="tab" aria-controls="nav-meta-themen" aria-selected="true">Meta-Themen</button>
        {% endif %}
        {% if models_codelist %}
          <button class="nav-link" id="nav-codelisten-tab" data-bs-toggle="tab" data-bs-target="#nav-codelisten" type="button" role="tab" aria-controls="nav-codelisten" aria-selected="false">Codelisten</button>
        {% endif %}
        {% if models_simple %}
          <button class="nav-link" id="nav-einfache-themen-tab" data-bs-toggle="tab" data-bs-target="#nav-einfache-themen" type="button" role="tab" aria-controls="nav-einfache-themen" aria-selected="false">Einfache Themen</button>
        {% endif %}
        {% if models_complex %}
          <button class="nav-link" id="nav-komplexe-themen-tab" data-bs-toggle="tab" data-bs-target="#nav-komplexe-themen" type="button" role="tab" aria-controls="nav-komplexe-themen" aria-selected="false">Komplexe Themen</button>
        {% endif %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% if models_meta %}
        <div class="tab-pane fade show active" id="nav-meta-themen" role="tabpanel" aria-labelledby="nav-meta-themen-tab">
          <h3 class="mt-3">Meta-Datenthemen</h3>
          <div class="list-group mb-3">
            {% for model in models_meta %}
              <a class="list-group-item list-group-item-action list-group-item-info" href="{{ model.url_start }}">
                <h4>{{ model.verbose_name_plural }}</h4>
                <h5><small>{% if model.description %}{{ model.description }}{% endif %}</small></h5>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if models_codelist %}
        <div class="tab-pane fade" id="nav-codelisten" role="tabpanel" aria-labelledby="nav-codelisten-tab">
          <h3 class="mt-3">Codelisten</h3>
          <div class="list-group mb-3">
            {% for model in models_codelist %}
              <a class="list-group-item list-group-item-action list-group-item-secondary" href="{{ model.url_start }}">
                <h4>{{ model.verbose_name_plural }}</h4>
                <h5><small>{% if model.description %}{{ model.description }}{% endif %}</small></h5>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if models_simple %}
        <div class="tab-pane fade" id="nav-einfache-themen" role="tabpanel" aria-labelledby="nav-einfache-themen-tab">
          <h3 class="mt-3">Einfache Datenthemen</h3>
          <div class="list-group mb-3">
            {% for model in models_simple %}
              <a class="list-group-item list-group-item-action list-group-item-primary" href="{{ model.url_start }}">
                <h4>{{ model.verbose_name_plural }}</h4>
                <h5><small>{% if model.description %}{{ model.description }}{% endif %}</small></h5>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if models_complex %}
        <div class="tab-pane fade" id="nav-komplexe-themen" role="tabpanel" aria-labelledby="nav-komplexe-themen-tab">
          <h3 class="mt-3">Komplexe Datenthemen</h3>
          <div class="list-group mb-3">
            {% for model in models_complex %}
              <a class="list-group-item list-group-item-action list-group-item-primary" href="{{ model.url_start }}">
                <h4>{{ model.verbose_name_plural }}</h4>
                <h5><small>{% if model.description %}{{ model.description }}{% endif %}</small></h5>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  {% else %}
    <h2 class="text-center">Ihnen stehen leider (noch) keine Datenthemen zur Bearbeitung zur Verfügung.</h2>
  {% endif %}
{% endblock %}
