{% extends "_base/navbar.html" %}
{% load datenmanagement_tags %}

{% block title %}Datenmanagement | {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if object_list %}
        <h2>verfügbare Datenthemen</h2>
        <div class='col-sm-4 full-width'>
        {% for model in object_list %}
            {% with model_name=model|get_class_name %}
                {% if user|user_has_model_permission:model %}
                    <a href="{% url 'datenmanagement:'|add:model_name|add:'start' %}" class='list-group-item active'> 
                        <h4 class='list-group-item-heading'>{{model|get_class_verbose_name_plural}}</h4>
                        <p class='list-group-item-text'>{{model|get_class_description}}</p>
                    </a>
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
    {% else %}
        <h2>Keine Datenthemen vorhanden.</h2>
    {% endif %}
{% else %}
<h2>Datenerfassung<span class='small'> {{ datenmanagement_version }} vom {% get_version_date %} (Django {{ django_version }})</span></h2>
{% endif %}
{% endblock %}