{% extends 'navbar.html' %}
{% load datenmanagement_tags %}
{% load static %}

{% block title %}{{ model_verbose_name_plural }} – Tabelle | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/list.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'datatables/datatables.min.js' %}"></script>
  <script src="{% static 'datenmanagement/js/genericHelpers.js' %}"></script>
  <script src="{% static 'datenmanagement/js/subsetting.js' %}"></script>
  <script src="{% static 'datenmanagement/js/list.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ model_verbose_name_plural }}</h2>
  <h4><small>{{ model_description }}</small></h4>
  <h4 class="mt-3">
    <em>
      {% if objects_count > 0 %}
        Liste aller Datensätze
      {% else %}
        Keine Datensätze vorhanden!
      {% endif %}
    </em>
  </h4>
  <div class="d-grid gap-2{% if not is_mobile %} d-md-block{% endif %}">
    {% if url_model_add %}
      <a class="btn btn-primary" role="button" href="{{ url_model_add }}"><i class="fas fa-circle-plus"></i> neuen Datensatz anlegen</a>
    {% endif %}
    {% if objects_count > 0 and url_model_map %}
      <a class="btn btn-secondary" role="button" href="{{ url_model_map }}"><i class="fas fa-map"></i> alle Datensätze auf Karte anzeigen</a>
      <button id="subsetter" class="btn btn-secondary"><i class="fas fa-map"></i> <i class="fas fa-filter"></i> aktuelle Filtermenge auf Karte übernehmen</button>
    {% endif %}
    <a class="btn btn-warning" role="button" href="{{ url_back }}"><i class="fas fa-backward"></i> zurück</a>
  </div>
  {% if objects_count > 0 %}
    {% if suitables|length > 0 %}
    <div class="mt-1">
      <label hidden for="template-selector" class="form-label">mit Vorlage</label>
      <select name="template-selector" id="template-selector" class="form-select align-middle w-auto d-inline">
        {% for suit in suitables %}
          <option value={{ suit.id }}>{{ suit.template.name }}</option>
        {% endfor %}
      </select>
      <button type="button" class="btn btn-secondary" id="template-button">exportieren</button>
      <label for="onlyactive">inaktive auch exportieren: </label><input type="checkbox" class="form-checkbox-input ms-1" id="onlyactive">
    </div>
    {% endif %}
    <div class="d-grid mt-5{% if not actions %} mb-3{% endif %} gap-2 mx-auto">
      {% if subset_id %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <i class="fa-solid fa-triangle-exclamation"></i> Es werden <strong><em>nicht alle</em></strong> Datensätze in der Tabelle gelistet, sondern nur die <strong><em>aus der Karte übernommenen</em></strong> Datensätze!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> Tabelle wird Server-seitig erzeugt, weshalb nur die <strong><em>aktuell sichtbare</em></strong> Tabelle exportiert wird – Tabelle exportiert wird – Anzahl der aktuell sichtbaren Datensätze <strong><em>unten links</em></strong> steuerbar
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <table id="datasets" class="table table-bordered table-striped">
        <thead>
          <tr>
            {% if actions %}
              <th id="check-all" class="no-export no-search no-sort"><i class="fas fa-check-square"></i></th>
            {% endif %}
            {% for column_title in column_titles %}
              <th>{{ column_title }}</th>
            {% endfor %}
            {% if column_actions %}
              <th class="no-export no-search no-sort">Aktionen</th>
            {% endif %}
          </tr>
        </thead>
      </table>
      <!-- eslint-disable-next-script -->
      <script>
        {% if subset_id %}
          window.dataUrl = '{{ url_model_tabledata_subset }}';
        {% else %}
          window.dataUrl = '{{ url_model_tabledata }}';
        {% endif %}
        window.languageUrl = '{% static 'datatables/datatables.german.lang' %}';
        window.checkAllTarget = true;
      </script>
      <script>
        /**
         * @function
         *
         * main function
         */
        $(document).ready(function() {
          let numberOfColumns = $('#datasets > thead > tr th').length;
          let table = initDataTable(window.dataUrl, window.languageUrl, numberOfColumns);

          // on clicking the button to execute the selected action...
          $('#action-button').click(function() {
            // if selected action is deleting all selected rows (= records)...
            if ($('#action-select').val() === 'delete-selected') {
              let actionCheckboxes = $('.action-checkbox').filter(':checked');
              if (actionCheckboxes.length > 0) {
                // go through all selected rows (= records)...
                actionCheckboxes.each(function() {
                  // delete row (= record)
                  let id = $(this).val();
                  jQuery.get('{{ url_model_deleteimmediately_placeholder }}'.replace(/worschdsupp/, id.toString()));
                });
                // wait briefly and reload the table so that deleted rows (= records) disappear
                setTimeout(function() {
                  table.ajax.reload();
                  $('#action-count').text('kein Datensatz ausgewählt');
                }, 1000);
              }
            }
          });

          // on clicking the button to transfer currently filtered data to map...
          $('#subsetter').on('click', function() {
            // collect primary keys of currently filtered data
            let currentTablePrimaryKeys = [];
            let tableData = table.rows().data();
            for (let i = 0; i < tableData.length; i++) {
              let stringWithPrimaryKeys = tableData[i][0];
              currentTablePrimaryKeys.push(stringWithPrimaryKeys.replace(/.*value="/, '').replace(/">/, ''));
            }
            // create subset of currently filtered data and transfer it to map
            subsetting(
              currentTablePrimaryKeys,
              '{% url "toolbox:subset_add" %}',
              '{{ model_name }}',
              '{{ model_pk_field_name }}',
              '{{ url_model_map_subset_placeholder }}',
              'Bei der Übernahme der aktuellen Filtermenge auf die Karte ist ein Serverfehler aufgetreten.'
            );
          });

          // fetch PDF file on clicking the "OK" button in the PDF export confirmation modal...
          $('#confirm-export-modal-ok').on('click', () => fetchPdf(
            '{% url "toolbox:renderpdf" %}', '{{ csrf_token }}', '{{ request.get_host }}'
          ));

          // fetch PDF file on clicking the PDF export button...
          $('#template-button').on('click', function() {
            let checkedBoxes = $('.action-checkbox').filter(':checked');
            let tplSelector = $('#template-selector');
            let desiredTplId = tplSelector.value;
            window.renderParams= {
              'pks': [],
              'templateid': desiredTplId,
              'datenthema': '{{ model_name }}',
              'onlyactive': !$('#onlyactive').prop('checked'),
            };
            if (checkedBoxes.length > 0) {
              for (let i = 0; i < checkedBoxes.length; i++)
                window.renderParams.pks.push(checkedBoxes[i].value);
              fetchPdf(
                '{% url "toolbox:renderpdf" %}', '{{ csrf_token }}', '{{ request.get_host }}'
              );
            }
            else {
              $('#confirm-export-modal').modal('toggle');
            }
          });

          // select or unselect all rows (= records)
          $('#check-all').on('click', function() {
            let target = window.checkAllTarget;
            $('.action-checkbox').each(function() {
              $(this).prop('checked', target);
            });
            window.checkAllTarget = !target;
          });
        });

        // as soon as a row (= record) has been selected or unselected...
        $('body').on('change', '.action-checkbox', function() {
          let actionCheckboxes = $('.action-checkbox').filter(':checked');
          // adjust information texts accordingly
          if (actionCheckboxes.length === 1)
            $('#action-count').text('1 Datensatz ausgewählt');
          else if (actionCheckboxes.length === 0)
            $('#action-count').text('kein Datensatz ausgewählt');
          else
            $('#action-count').text(actionCheckboxes.length + ' Datensätze ausgewählt');
        });
      </script>
    </div>
    {% if actions %}
      <div class="d-grid mt-4">
        <span id="action-count">kein Datensatz ausgewählt</span>
      </div>
      <div class="d-grid mt-2 mb-3">
        <div class="input-group">
          <label hidden for="action-select" class="form-label"></label>
          <select class="form-select" id="action-select" name="action">
            <option selected>Aktion wählen…</option>
            <option value="delete-selected">ausgewählte Datensätze löschen</option>
          </select>
          <button id="action-button" class="btn btn-danger" type="button">Aktion ausführen</button>
        </div>
      </div>
    {% endif %}
    {% include "modal-error.html" %}
    {% include "modal-confirm-export.html" with objcount=objects_count %}
  {% endif %}
{% endblock %}
