{% extends 'navbar.html' %}
{% load datenmanagement_tags %}
{% load guardian_tags %}
{% load static %}

{% block title %}{{ model_verbose_name_plural }} | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/datalist.css' %}" />
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ model_verbose_name_plural }}</h2>
  <h4><small>{{ model_description }}</small></h4>
  <h4 class="mt-3">
    <em>
      {% if objects_count > 0 %}
        Liste aller Datensätze
      {% else %}
        Keine Datensätze vorhanden!
      {% endif %}
    </em>
  </h4>
  <div class="d-grid gap-2 d-md-block">
    {% if user|user_has_model_add_permission:model_name_lower %}
      <a class="btn btn-primary" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'add' %}"><i class="fas fa-circle-plus"></i> neuen Datensatz anlegen</a>
    {% endif %}
    {% if objects_count > 0 and geometry_type %}
      <a class="btn btn-secondary" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'map' %}"><i class="fas fa-map"></i> Datensätze auf Karte anzeigen</a>
    {% endif %}
    <a class="btn btn-warning" role="button" href="{% url 'datenmanagement:'|add:model_name|add:'start' %}"><i class="fas fa-backward"></i> zurück</a>
  </div>
  {% if objects_count > 0 %}
    <div class="d-grid mt-5 gap-2 mx-auto">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Achtung!</strong> Tabelle wird Server-seitig erzeugt, weshalb nur die <em>aktuell sichtbare</em> Tabelle exportiert wird – Anzahl der aktuell sichtbaren Datensätze unten links steuerbar
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <table id="datasets" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="no-export"><i class="fas fa-check-square"></i></th>
            {% for label in list_fields_labels %}
              {% with schritt=forloop.counter|stringformat:'s' %}
                {% with spalte='spalte_'|add:schritt %}
                  <th>{{ label }}</th>
                {% endwith %}
              {% endwith %}
            {% endfor %}
            {% if user|user_has_model_view_permission:model_name_lower or user|user_has_model_change_permission:model_name_lower %}
              <th class="no-export"><i class="fas fa-eye" title="Datensätze ansehen"></i> oder <i class="fas fa-edit" title="Datensätze bearbeiten"></i></th>
            {% endif %}
            {% if user|user_has_model_delete_permission:model_name_lower %}
              <th class="no-export"><i class="fas fa-trash" title="Datensätze löschen"></i></th>
            {% endif %}
          </tr>
        </thead>
      </table>
      <script type="text/javascript">
        /**
         * @function
         *
         * Hauptfunktion
         */
        $(document).ready(function() {
          let table = $('#datasets').DataTable({
            ajax: '{% url 'datenmanagement:'|add:model_name|add:'data' %}',
            buttons: [
              {
                extend: 'csvHtml5',
                fieldSeparator: ';',
                exportOptions: {
                  // entsprechend markierte Spalten nicht exportieren
                  columns: ':visible:not(.no-export)',
                }
              }, {
                extend: 'excelHtml5',
                title: '',
                exportOptions: {
                  // entsprechend markierte Spalten nicht exportieren
                  columns: ':visible:not(.no-export)',
                }
              }, {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'A4',
                exportOptions: {
                  // entsprechend markierte Spalten nicht exportieren
                  columns: ':visible:not(.no-export)',
                },
                customize: function(doc) {
                  doc.defaultStyle.fontSize = 7;
                  doc.pageMargins = [20, 20, 20, 20];
                  doc.styles.tableHeader.fontSize = 7;
                }
              }
            ],
            colReorder: true,
            columnDefs: [{
              'orderable': false,
              'targets': 0
            }, {
              'orderable': false,
              'targets': -2
            }, {
              'orderable': false,
              'targets': -1
            }],
            createdRow: function(row, data, dataIndex) {
              // inaktive Zeilen (= Datensätze) mit schwächerer Textfarbe versehen
              if ($(row).find('td:nth-child(2)').text() === 'nein') {
                $(row).addClass('text-black-50');
              // entsprechend markierte Zeilen (= Datensätze) mit besonderer Textfarbe hervorheben
              } else if ($(row).find('.text-danger').length) {
                $(row).addClass('text-danger');
              }
            },
            dom: '<Bfr<t>ilp>',
            fixedHeader: true,
            language: {
              url: '{% static 'datatables/datatables.german.lang' %}'
            },
            lengthMenu: [[25, 50, -1], [25, 50, 'alle']],
            order: [[ 1, 'asc' ]],
            orderCellsTop: true,
            orderClasses: false,
            orderMulti: false,
            pageLength: 25,
            processing: true,
            searchDelay: 500,
            searching: true,
            serverSide: true,
            stateSave: true
          });

          // bei Klick auf Button zum Ausführen der gewählten Aktion...
          $('#action-button').click(function() {
            // falls gewählte Aktion das Löschen ausgewählter Datensätze ist...
            if ($('#action-select').val() === 'delete-selected') {
              let actionCheckboxes = $('.action-checkbox').filter(':checked');
              if (actionCheckboxes.length > 0) {
                // alle ausgewählten Zeilen (= Datensätze) durchgehen...
                actionCheckboxes.each(function() {
                  // Zeile (= Datensatz) löschen
                  jQuery.get(window.document.location + '../deleteimmediately/' + $(this).val() + '/');
                });
                // kurz warten und Tabelle neuladen, damit gelöschte Zeilen (= Datensätze) verschwinden
                setTimeout(function() {
                  table.ajax.reload();
                  $('#action-count').text('kein Datensatz');
                }, 1000);
              }
            }
          });
        });

        // sobald eine Zeile (= Datensatz) an- oder abgewählt wurde...
        $('body').on('change', '.action-checkbox', function() {
          let actionCheckboxes = $('.action-checkbox').filter(':checked');
          // Hinweistexte entsprechend anpassen
          if (actionCheckboxes.length === 1)
            $('#action-count').text('1 Datensatz ausgewählt');
          else if (actionCheckboxes.length === 0)
            $('#action-count').text('kein Datensatz ausgewählt');
          else
            $('#action-count').text(actionCheckboxes.length + ' Datensätze ausgewählt');
        });
      </script>
    </div>
    {% if user|user_has_model_delete_permission:model_name_lower %}
      <div class="d-grid mt-4">
        <span id="action-count">kein Datensatz ausgwählt</span>
      </div>
      <div class="d-grid mt-2 mb-3">
        <div class="input-group">
          <select class="form-select" id="action-select" name="action">
            <option selected>Aktion wählen…</option>
            <option value="delete-selected">ausgewählte Datensätze löschen</option>
          </select>
          <button id="action-button" class="btn btn-danger" type="button">Aktion ausführen</button>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
