{% extends "base.html" %}
{% load datenmanagement_tags %}
{% load leaflet_tags %}
{% load static %}

{% block title %}{{ model_verbose_name_plural }} – Karte | {% endblock %}

{% block style %}
  {{ block.super }}
  {% leaflet_css plugins="locatecontrol,markercluster" %}
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/map.css' %}">
  {% if is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/map-mobile.css' %}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/map-desktop.css' %}">
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% leaflet_js plugins="locatecontrol,markercluster" %}
  <script src="{% static 'proj4/proj4.js' %}"></script>
  <script src="{% static 'proj4leaflet/proj4leaflet.js' %}"></script>
  <script src="{% static 'datenmanagement/js/cartographicHelpers.js' %}"></script>
  <script src="{% static 'datenmanagement/js/genericHelpers.js' %}"></script>
  <script src="{% static 'datenmanagement/js/subsetting.js' %}"></script>
  <script src="{% static 'datenmanagement/js/map.js' %}"></script>
  {% if map_one_click_filters %}
    <script src="{% static 'datenmanagement/js/customMapFilters.js' %}"></script>
  {% endif %}
{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags and message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
          <i class="fa-solid fa-circle-check"></i>
          {{ message|safe }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <h2>{{ model_verbose_name_plural }}</h2>
  <h4><small>{{ model_description }}</small></h4>
  <h4 class="mt-3">
    <em>
      {% if objects_count > 0 %}
        Karte aller Datensätze
      {% else %}
        Keine Datensätze vorhanden!
      {% endif %}
    </em>
  </h4>
  <div class="d-grid mb-3 gap-2{% if not is_mobile %} d-md-block{% endif %}">
    {% if url_model_add %}
      <a class="btn btn-primary" role="button" href="{{ url_model_add }}"><i class="fas fa-circle-plus"></i> neuen Datensatz anlegen</a>
    {% endif %}
    {% if objects_count > 0 and url_model_list %}
      <a class="btn btn-secondary" role="button" href="{{ url_model_list }}"><i class="fas fa-table"></i> alle Datensätze in Tabelle auflisten</a>
      <button id="subsetter" class="btn btn-secondary" disabled><i class="fas fa-table"></i> <i class="fas fa-filter"></i> aktuelle Filtermenge in Tabelle übernehmen</button>
    {% endif %}
    <a class="btn btn-warning" role="button" href="{{ url_back }}"><i class="fas fa-backward"></i> zurück</a>
  </div>
  {% if objects_count > 0 %}
    {% if subset_id %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> Es werden <strong><em>nicht alle</em></strong> Datensätze auf der Karte angezeigt, sondern nur die <strong><em>aus der Tabelle übernommenen</em></strong> Datensätze!
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <div id="map-side-container" class="mb-3">
      {% leaflet_map "map" callback="window.mapCallbackFunction" %}
      {% if map_filters_enabled %}
        <div id="filter"{% if not is_mobile %} class="side"{% endif %}>
          <h5>Filter für Kartenobjekte</h5>
          <div id="filter-alert" class="alert alert-warning" role="alert">Filter wirken <strong>additiv</strong> (wie „UND“)</div>
          {% if map_one_click_filters %}
            <h6>Ein-Klick-Filter</h6>
            <div id="filter-one-click" class="btn-group-vertical">
              {% if model_name == 'Baustellen_geplant' %}
                <button id="baustellen-geplant-ende-nicht-abgeschlossen" class="filter-one-click-button btn btn-outline-success"><i class="fas fa-gears"></i> beendet, aber Status != abgeschlossen</button>
                <button id="baustellen-geplant-beginn-nicht-imbau" class="filter-one-click-button btn btn-outline-success"><i class="fas fa-gears"></i> begonnen (nicht beendet), aber Status != im Bau (LP8) und Status != abgeschlossen</button>
              {% endif %}
            </div>
            <hr>
          {% endif %}
          {% if map_deadlinefilter_fields %}
            <div id="filter-deadline">
              <div class="d-grid mt-2 mb-3">
                <label for="filter-input-deadline" class="form-label">Stichtag</label>
                <div class="input-group">
                  <input id="filter-input-deadline" type="date" name="deadline" class="form-control filter-input datetime-input" data-type="date" data-nullable data-intervalside="both" data-logic="positive">
                  <button class="input-reset btn btn-outline-secondary">
                    <i class="fas fa-trash" title="Filterfeld leeren"></i>
                  </button>
                </div>
              </div>
            </div>
          {% endif %}
          {% if map_intervalfilter_fields and map_intervalfilter_fields_labels %}
            <div id="filter-interval">
              {% for map_intervalfilter_field in map_intervalfilter_fields %}
                {% if not forloop.counter|divisibleby:2 %}
                  {% with naechster_index=forloop.counter0|add:1 %}
                  <div class="d-grid mt-2 mb-3">
                    <label for="filter-input-{{ map_intervalfilter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-label">{{ map_intervalfilter_fields_labels|get_list_item_by_index:forloop.counter0 }}</label>
                    <div class="input-group">
                      {% if 'Date' in map_intervalfilter_field|get_type_of_field:model_name %}
                        <input id="filter-input-{{ map_intervalfilter_fields|get_list_item_by_index:forloop.counter0 }}" type="{% if map_intervalfilter_field|get_type_of_field:model_name == 'DateTimeField' %}datetime-local{% else %}date{% endif %}" name="{{ map_intervalfilter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-control filter-input datetime-input" data-type="{% if map_intervalfilter_field|get_type_of_field:model_name == 'DateTimeField' %}datetime{% else %}date{% endif %}" {% if map_intervalfilter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="left" data-logic="positive" {% if map_intervalfilter_field|get_type_of_field:model_name == 'DateTimeField' %}step="1"{% endif %}>
                        <button class="input-reset btn btn-outline-secondary">
                          <i class="fas fa-trash" title="Filterfeld leeren"></i>
                        </button>
                      {% else %}
                        <input id="filter-input-{{ map_intervalfilter_fields|get_list_item_by_index:forloop.counter0 }}" type="text" name="{{ map_intervalfilter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-control filter-input" data-type="text" {% if map_intervalfilter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="left" data-logic="positive">
                      {% endif %}
                    </div>
                  </div>
                  <div class="d-grid mt-2 mb-3">
                    <label for="filter-input-{{ map_intervalfilter_fields|get_list_item_by_index:naechster_index }}" class="form-label">{{ map_intervalfilter_fields_labels|get_list_item_by_index:naechster_index }}</label>
                    <div class="input-group">
                      {% if 'Date' in map_intervalfilter_field|get_type_of_field:model_name %}
                        <input id="filter-input-{{ map_intervalfilter_fields|get_list_item_by_index:naechster_index }}" type="{% if map_intervalfilter_field|get_type_of_field:model_name == 'DateTimeField' %}datetime-local{% else %}date{% endif %}" name="{{ map_intervalfilter_fields|get_list_item_by_index:naechster_index }}" class="form-control filter-input datetime-input" data-type="{% if map_intervalfilter_field|get_type_of_field:model_name == 'DateTimeField' %}datetime{% else %}date{% endif %}" {% if map_intervalfilter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="right" data-logic="positive" {% if map_intervalfilter_field|get_type_of_field:model_name == 'DateTimeField' %}step="1"{% endif %}>
                        <button class="input-reset btn btn-outline-secondary">
                          <i class="fas fa-trash" title="Filterfeld leeren"></i>
                        </button>
                      {% else %}
                        <input id="filter-input-{{ map_intervalfilter_fields|get_list_item_by_index:naechster_index }}" type="text" name="{{ map_intervalfilter_fields|get_list_item_by_index:naechster_index }}" class="form-control filter-input" data-type="text" {% if map_intervalfilter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="right" data-logic="positive">
                      {% endif %}
                    </div>
                  </div>
                  {% endwith %}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          {% if map_filter_fields and map_filter_fields_labels %}
            <div id="filter-normal">
              {% for map_filter_field in map_filter_fields %}
                <div class="d-grid mt-2 mb-3">
                  <label for="filter-input-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-label{% if map_filter_field|get_type_of_field:model_name == 'ChoiceArrayField' %} filter-checkbox-label{% endif %}">{{ map_filter_fields_labels|get_list_item_by_index:forloop.counter0 }}</label>
                  {% if 'Date' in map_filter_field|get_type_of_field:model_name %}
                    <div class="input-group">
                      <input id="filter-input-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" type="{% if map_filter_field|get_type_of_field:model_name == 'DateTimeField' %}datetime-local{% else %}date{% endif %}" name="{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-control filter-input datetime-input" data-type="{% if map_filter_field|get_type_of_field:model_name == 'DateTimeField' %}datetime{% else %}date{% endif %}" {% if map_filter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="both" data-logic="positive" {% if map_filter_field|get_type_of_field:model_name == 'DateTimeField' %}step="1"{% endif %}>
                      <button class="input-reset btn btn-outline-secondary">
                        <i class="fas fa-trash" title="Filterfeld leeren"></i>
                      </button>
                    </div>
                  {% elif map_filter_field|get_type_of_field:model_name == 'BooleanField' %}
                    {% if map_filter_boolean_fields_as_checkbox %}
                      <div class="filter-input">
                        <input id="filter-input-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" type="checkbox" name="{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-check-input" data-type="boolean" {% if map_filter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="both" data-logic="positive">
                      </div>
                    {% else %}
                      <div class="input-group">
                        <select id="filter-input-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" name="{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-select filter-input" data-type="list" data-nullable data-boolean data-intervalside="both" data-logic="positive">
                          <option value="True">ja</option>
                          <option value="False">nein</option>
                        </select>
                        <button class="input-reset btn btn-outline-secondary">
                          <i class="fas fa-trash" title="Filterfeld leeren"></i>
                        </button>
                      </div>
                    {% endif %}
                  {% elif map_filter_fields_as_list and map_filter_field in map_filter_fields_as_list %}
                    <div class="input-group">
                      <select id="filter-input-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" name="{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-select filter-input" data-type="list" {% if map_filter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="both" data-logic="positive"></select>
                      <button class="input-reset btn btn-outline-secondary">
                        <i class="fas fa-trash" title="Filterfeld leeren"></i>
                      </button>
                    </div>
                  {% elif map_filter_field|get_type_of_field:model_name == 'ChoiceArrayField' or map_filter_fields_as_checkbox and map_filter_field in map_filter_fields_as_checkbox %}
                    <div class="d-grid gap-2 d-md-block">
                      {% if map_filter_field|get_type_of_field:model_name == 'ChoiceArrayField' %}
                        Listeneinträge
                        <label hidden for="filtertype-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-label"></label>
                        <select id="filtertype-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-select filtertype">
                          <option value="additive">additiv (wie „UND“)</option>
                          <option value="exclusive">exklusiv (wie „ODER“)</option>
                        </select>
                        filtern
                      {% else %}
                        Listeneinträge werden exklusiv (wie „ODER“) gefiltert
                      {% endif %}
                    </div>
                    <fieldset id="filter-checkbox-fieldset-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" name="{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-control mt-2 filter-checkbox-fieldset" data-type="checkbox-set" {% if map_filter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="both" data-logic="positive"></fieldset>
                  {% else %}
                    <div class="input-group">
                      <input id="filter-input-{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" type="text" name="{{ map_filter_fields|get_list_item_by_index:forloop.counter0 }}" class="form-control filter-input" data-type="text" {% if map_filter_field|is_field_nullable:model_name %}data-nullable{% endif %} data-intervalside="both" data-logic="positive">
                      <button class="input-reset btn btn-outline-secondary">
                        <i class="fas fa-trash" title="Filterfeld leeren"></i>
                      </button>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div id="filter-buttons" class="d-grid mt-4 gap-2">
            <button id="filter-apply" class="btn btn-success"><i class="fas fa-filter"></i> Filter anwenden</button>
            <button id="filter-reset" class="btn btn-warning"><i class="fas fa-filter-circle-xmark"></i> Filter zurücksetzen</button>
          </div>
        </div>
      {% endif %}
      <div {% if map_filters_enabled %}id="map-control"{% endif %}{% if not is_mobile %} class="side"{% endif %}>
        <h5>Kartenausschnitt</h5>
        <div class="d-grid mt-2 gap-2">
          <button id="map-extent-filter" class="btn btn-success"><i class="fas fa-map-location"></i> {% if map_filters_enabled %}aktuelle Filtermenge{% else %}alle Objekte{% endif %}</button>
          <button id="map-extent-initial" class="btn btn-warning"><i class="fas fa-map"></i> gesamt</button>
        </div>
      </div>
      <div id="address-search"{% if not is_mobile %} class="side"{% endif %}>
        <h5>Adressensuche</h5>
        <div class="form-floating">
          <input id="searchtext" type="text" class="form-control" name="searchtext" autocapitalize="off" autocomplete="off" placeholder="Adresse, Straße oder Gemeindeteil eingeben…">
          <label for="searchtext">Adresse, Straße oder Gemeindeteil eingeben…</label>
        </div>
        <div id="results-container" class="results"></div>
      </div>
    </div>
    {% include "modal-error.html" %}
    {% include "modal-loading.html" %}
    <script>
      /* eslint no-unexpected-multiline: "off" */
      setTimeout(function () {
        $('.alert-success').alert('close');
      }, 3000);

      /**
       * @function
       * @name mapCallbackFunction
       *
       * handles (as a callback function) passed map
       *
       * @param {Object} map - map
       */
      function mapCallbackFunction(map) {
        setMapConstants(map, {{ LEAFLET_CONFIG.MAX_ZOOM }});
        configureMap(map, '{% url "toolbox:owsproxy" %}');

        // make map globally available
        window.currMap = map;

        {% if is_mobile %}
          enableMapLocate(map)
        {% endif %}

        // define several globally available variables
        window.modelPrimaryKeyFieldName = '{{ model_pk_field_name }}';
        window.geometryType = '{{ model_geometry_type }}';
        window.objectsExtent = map.getBounds();
        window.removedLayers = [];
        window.featureGeometry = [];
        window.subsetID = false;
        {% if subset_id %}
          window.subsetID = true
        {% endif %}
        if (window.subsetID)
          window.mapDataUrl = '{{ url_model_mapdata_subset }}'
        else
          window.mapDataUrl = '{{ url_model_mapdata }}'
        window.heavyLoadLimit = false;
        {% if heavy_load_limit and objects_count > heavy_load_limit %}
          window.heavyLoadLimit = true
        {% endif %}
        if (window.heavyLoadLimit) {
          // variables and constants for the number of (already fetched) features
          // of the GeoJSON feature collection
          window.promises = [];
          window.count = 0;
          window.border = {{ objects_count }}
          window.limit = {{ heavy_load_limit }}
        }
        {% if highlight_flag %}
          window.highlightFlag = true
        {% endif %}
        {% if map_filter_hide_initial %}
          window.mapFilterHideInitial = true
        {% endif %}

        // if large amounts of data are expected...
        if (window.heavyLoadLimit) {
          // set counters in the Bootstrap modal
          // that appears while loading the GeoJSON feature collection for the map
          $('#loading-modal-map-data-count').text(window.count);
          $('#loading-modal-map-data-border').text(window.border);
        }

        // if geometry is point-like...
        if (window.geometryType === 'Point') {
          // activate map cluster
          let markers = L.markerClusterGroup();
          // if large amounts of data are expected...
          if (window.heavyLoadLimit) {
            // fetch GeoJSON feature collection for map in multiple steps, all executed in parallel
            for (let offset = 0; offset < window.border; offset += window.limit)
              window.promises.push(fetchGeoJsonFeatureCollection(true, window.limit, offset));
            Promise.all(window.promises)
            .then(data => {
              // for each GeoJSON feature in GeoJSON feature collection:
              // equip with marker, set properties and actions, bind tooltip
              // and add it to corresponding map cluster
              L.Proj.geoJson(data, {
                pointToLayer: function (feature, latlng) {
                  let marker = new L.circleMarker(latlng, {
                    radius: 5
                  });
                  marker.bindTooltip(feature.properties.tooltip);
                  return marker;
                },
                onEachFeature: setGeoJsonFeaturePropertiesAndActions
              }).addTo(markers);
            })
            .catch(
              (error) => {
                console.error(error);
              }
            );
          // otherwise...
          } else {
            // fetch GeoJSON feature collection for map in one single step
            fetchGeoJsonFeatureCollection()
            .then(data => {
              // for each GeoJSON feature in GeoJSON feature collection:
              // equip with marker, set properties and actions, bind tooltip
              // and add it to corresponding map cluster
              L.Proj.geoJson(data, {
                pointToLayer: function (feature, latlng) {
                  let marker = new L.circleMarker(latlng, {
                    radius: 5
                  });
                  marker.bindTooltip(feature.properties.tooltip);
                  return marker;
                },
                onEachFeature: setGeoJsonFeaturePropertiesAndActions
              }).addTo(markers);
            })
            .catch(
              (error) => {
                console.error(error);
              }
            );
          }
          // equip map cluster with ID
          markers.id = 'cluster';
          // add  map cluster to map
          map.addLayer(markers);
        // otherwise (i.e. if geometry is not point-like)...
        } else {
          // if large amounts of data are expected...
          if (window.heavyLoadLimit) {
            // fetch GeoJSON feature collection for map in multiple steps, all executed in parallel
            for (let offset = 0; offset < window.border; offset += window.limit)
              window.promises.push(fetchGeoJsonFeatureCollection(true, window.limit, offset));
            Promise.all(window.promises)
            .then(data => {
              // for each GeoJSON feature in GeoJSON feature collection:
              // set properties and actions and add it to corresponding map cluster
              L.Proj.geoJson(data, {
                onEachFeature: setGeoJsonFeaturePropertiesAndActions
              }).addTo(map);
            })
            .catch(
              (error) => {
                console.error(error);
              }
            );
          // otherwise...
          } else {
            // fetch GeoJSON feature collection for map in one single step
            fetchGeoJsonFeatureCollection()
            .then(data => {
              // for each GeoJSON feature in GeoJSON feature collection:
              // set properties and actions and add it to corresponding map cluster
              L.Proj.geoJson(data, {
                onEachFeature: setGeoJsonFeaturePropertiesAndActions
              }).addTo(map);
            })
            .catch(
              (error) => {
                console.error(error);
              }
            );
          }
        }
      }

      /**
       * @function
       *
       * main function
       */
      $(document).ready(function() {
        // (globally available) variables for primary keys and map extent of currently filtered data
        window.currentFilterPrimaryKeys = [];
        window.currentFilterExtent = [];
        let intervalFilterMin = [];
        let intervalFilterMax = [];
        let listFilterLists = [];
        let listFilterListsValues = {{ list_filter_lists|safe }};
        let checkboxFilterLists = [];
        let checkboxFilterListsValues = {{ checkbox_filter_lists|safe }};

        // initialize address search (and make its results globally available)
        window.results = $('div.results');
        window.searchField = $('#searchtext');
        initializeAddressSearch(window.searchField, '{% url "toolbox:addresssearch" %}');

        // iterate all filter fields (except Boolean and checkbox filter fields)...
        $('.filter-input').each(function() {
          // create field as an object with name and type
          let filterField = {};
          filterField.name = $(this).attr('name');
          filterField.type = $(this).data('type');
          // if it is an interval filter field...
          if ($(this).data('intervalside') === 'left' || $(this).data('intervalside') === 'right') {
            // if it is a "left" interval filter field (i.e. for lower/smaller/earlier values)...
            if ($(this).data('intervalside') === 'left') {
              // set the value of the field object accordingly
              filterField.value = '{{ interval_filter_min }}';
              // add field object to variable for minimum values of corresponding interval filter fields
              intervalFilterMin.push(filterField);
            // if it is a "right" interval filter field (i.e. for higher/larger/later values)...
            } else if ($(this).data('intervalside') === 'right') {
              // set the value of the field object accordingly
              filterField.value = '{{ interval_filter_max }}';
              // add field object to variable for maximum values of corresponding interval filter fields
              intervalFilterMax.push(filterField);
            }
          // if it is a list filter field...
          } else if ($(this).data('type') === 'list' && $(this).attr('name') in listFilterListsValues) {
            // set the value of the field object accordingly
            filterField.value = listFilterListsValues[filterField.name];
            // add field object to value list variable for corresponding filter fields to be represented as list filters
            listFilterLists.push(filterField);
          }
        });

        // iterate all Boolean filter fields...
        $('.filter-input input[type="checkbox"]').each(function() {
          // create field as an object with name and type
          let filterField = {};
          filterField.name = $(this).attr('name');
          filterField.type = $(this).data('type');
          // set the value of the field object as Boolean
          if ($(this).is(':checked')) {
            filterField.value = 'True';
          } else {
            filterField.value = 'False';
          }
          // if it is a list filter field...
          if ($(this).attr('name') in listFilterListsValues)
            // add field object to value list variable for corresponding filter fields to be represented as list filters
            listFilterLists.push(filterField);
        });

        // iterate all checkbox filter fields...
        $('.filter-checkbox-fieldset').each(function() {
          // create field as an object with name, type and value
          let filterField = {};
          filterField.name = $(this).attr('name');
          filterField.type = $(this).data('type');
          // set the value of the field object accordingly
          filterField.value = checkboxFilterListsValues[filterField.name];
          // add field object to value list variable for corresponding filter fields to be represented as checkbox sets
          checkboxFilterLists.push(filterField);
        });

        // initialize date/time/datetime picker for each relevant filter field...
        $('.datetime-input').each(function() {
          // declare variable for initial date/time/datetime
          let initialDateTime = '';
          // if filter field occurs in variable for minimum values of corresponding interval filter fields:
          // set variable for initial date/time/datetime to the value there
          for (let i = 0; i < intervalFilterMin.length; i++) {
            if (intervalFilterMin[i].name === $(this).attr('name')) {
              initialDateTime = intervalFilterMin[i].value;
              break;
            }
          }
          // if filter field occurs in variable for maximum values of corresponding interval filter fields:
          // set variable for initial date/time/datetime to the value there
          for (let j = 0; j < intervalFilterMax.length; j++) {
            if (intervalFilterMax[j].name === $(this).attr('name')) {
              initialDateTime = intervalFilterMax[j].value;
              break;
            }
          }
          // if variable for initial date/time/datetime is not empty...
          if (initialDateTime !== '') {
            // set initial date/time/datetime to the value of the variable
            $(this).val(initialDateTime);
            // add data attribute with initial date/time/datetime (needed when resetting the filters)
            $(this).attr('data-initial', initialDateTime);
          }
        });

        // initialize list fields...
        $("select[data-type='list']").each(function() {
          // iterate value list variables for corresponding filter fields that shall be displayed as list filters...
          for (let i = 0; i < listFilterLists.length; i++) {
            if (listFilterLists[i].name === $(this).attr('name')) {
              // if list field is not already predefined as yes-/no list field...
              if (typeof $(this).data('boolean') == 'undefined') {
                // display list of values as options in the list field
                for (let j = 0; j < listFilterLists[i].value.length; j++) {
                  let value = listFilterLists[i].value[j];
                  let text = value;
                  // if necessary, handle decimal separators
                  if (/^([0-9]+\.[0-9]+)$/.test(value) === true)
                    text = value.replace('.', ',');
                  $(this).append($('<option>', {
                    value: value,
                    text: text
                  }));
                }
              }
              break;
            }
          }
          // finally, make sure that the list field is initially set to empty option
          $(this).val('');
        });

        // initialize checkbox sets...
        $('.filter-checkbox-fieldset').each(function() {
          // iterate value list variables for corresponding filter fields that shall be displayed as checkbox sets...
          for (let i = 0; i < checkboxFilterLists.length; i++) {
            if (checkboxFilterLists[i].name === $(this).attr('name')) {
              // display the list of values as checkboxes in the checkbox set
              for (let j = 0; j < checkboxFilterLists[i].value.length; j++) {
                let $label = $('<label>').attr('for', 'checkbox-' + i + '-' + j);
                $label.append($('<input>', {
                  id: 'checkbox-' + i + '-' + j,
                  class: 'form-check-input',
                  type: 'checkbox',
                  value: checkboxFilterLists[i].value[j]
                }));
                $label.append(checkboxFilterLists[i].value[j]);
                $(this).append($label);
              }
              break;
            }
          }
        });

        // on clicking a one-click-filter button...
        $('.filter-one-click-button').on('click', function(e) {
          let $this = $(this);
          // enable button for passing the current filter set to the table
          $('#subsetter').prop('disabled', false);
          // disable all other one-click-filter buttons
          $this.parent().children('button').each(function() {
            if ($(this).attr('id') !== e.target.id) {
              $(this).prop('disabled', true);
            }
          });
          // disable button to apply filters
          $('#filter-apply').prop('disabled', true);
          // declare and fill the filter object list
          let filterAttributesList = customMapFilters(e.target.id);
          // apply filters
          applyFilters(filterAttributesList);
        });

        // on clicking the button to apply the filters...
        $('#filter-apply').on('click', function() {
          // enable button for passing the current filter set to the table
          $('#subsetter').prop('disabled', false);

          // disable all one-click-filter buttons
          $('#filter-one-click').children('button').each(function() {
            $(this).prop('disabled', true);
          });

          // declare a variable for the filter object list
          let filterAttributesList = [];

          // reset primary keys of current filter set
          window.currentFilterPrimaryKeys = [];

          // reset bounding box of current filter set
          window.currentFilterExtent = [];

          // show indication of additive effect of the filters
          $('#filter-alert').show();

          // iterate all filters (except Boolean and checkbox filters)...
          $('.filter-input').each(function() {
            if ($(this).val()) {
              // create filter as an object with name, type, "left/right" and value
              let filterAttribute = {};
              filterAttribute.name = $(this).attr('name');
              filterAttribute.type = $(this).data('type');
              filterAttribute.intervalside = $(this).data('intervalside');
              filterAttribute.value = $(this).val();
              // add filter object to filter object list
              filterAttributesList.push(filterAttribute);
            }
          });

          // iterate all Boolean filters...
          $('.filter-input input[type="checkbox"]').each(function() {
            // create filter as an object with name, type, "left/right" and value
            let filterAttribute = {};
            filterAttribute.name = $(this).attr('name');
            filterAttribute.type = $(this).data('type');
            filterAttribute.intervalside = $(this).data('intervalside');
            // set value of filter object as Boolean
            if ($(this).is(':checked')) {
              filterAttribute.value = 'True';
            } else {
              filterAttribute.value = 'False';
            }
            // add filter object to filter object list
            filterAttributesList.push(filterAttribute);
          });

          // iterate all checkbox filters...
          $('.filter-checkbox-fieldset').each(function() {
            let checkedObjectsAtAll = false;
            // create filter as an object with name, type, "left/right" and values (as a list)
            let filterAttribute = {};
            let name = $(this).attr('name');
            filterAttribute.name = name;
            filterAttribute.type = $(this).data('type');
            // either read the effect of the filter (additive or exclusive)
            // from the corresponding selection field
            // or set it directly as exclusive if no corresponding selection field exists
            if ($('select[id^=filtertype-' + name + ']').length)
              filterAttribute.filtertype = $('select[id^=filtertype-' + name + ']').children('option:selected').val();
            else
              filterAttribute.filtertype = 'exclusive';
            filterAttribute.intervalside = $(this).data('intervalside');
            filterAttribute.value = [];
            // fill the value list of the filter object with the value of each active checkbox
            $(this).find('input:checked').each(function() {
              checkedObjectsAtAll = true;
              filterAttribute.value.push($(this).val());
            });
            // if at least one checkbox in the checkbox set is active...
            if (checkedObjectsAtAll)
              // add filter object to filter object list
              filterAttributesList.push(filterAttribute);
          });

          // apply filters
          applyFilters(filterAttributesList);
        });

        // on clicking the button to reset the filters...
        $('#filter-reset').on('click', function() {
          // (re)enable all one-click filter buttons
          $('#filter-one-click').children('button').each(function() {
            $(this).prop('disabled', false);
          });

          // (re)enable button to apply the filters
          $('#filter-apply').prop('disabled', false);

          // disable button for passing the current filter set to the table
          $('#subsetter').prop('disabled', true);

          // hide indication of additive effect of the filters
          $('#filter-alert').hide();

          // iterate all filter fields (except Boolean and checkbox filter fields)...
          $('.filter-input').each(function() {
            // if initial value exists...
            if ($(this).data('initial'))
              // set filter field to initial value
              $(this).val($(this).data('initial'));
            // otherwise set filter field to empty value
            else
              $(this).val('');
          });

          // iterate all Boolean filter fields...
          $('.filter-input input[type="checkbox"]').each(function() {
            // if initial value exists...
            if ($(this).data('initial')) {
              // set filter field to initial value
              let initialValue = $(this).data('initial');
              // treat Boolean correctly
              if (initialValue.toLowerCase() === 'false') {
                $(this).prop('checked', false);
              } else {
                $(this).prop('checked', true);
              }
            }
            // otherwise set filter field to empty value
            else {
              $(this).prop('checked', false);
            }
          });

          // iterate all checkbox filter fields...
          $('.filter-checkbox-fieldset').each(function() {
            // deactivate all activated checkboxes
            $(this).find('input:checked').each(function() {
              $(this).prop('checked', false);
            });
          });
          // set the effective mode of all checkbox filters back to standard, i.e. additive (= AND)
          $('.filtertype').each(function() {
            $(this)[0].selectedIndex = 0;
          });

          // reset primary keys of current filter set
          window.currentFilterPrimaryKeys = [];

          // reset bounding box of current filter set
          window.currentFilterExtent = [];

          // show all features on the map again
          showAllMapFeatures();
        });

        // on clicking a button to empty a filter field...
        $('.input-reset').on('click', function() {
          // empty respective filter field
          $(this).prev().is('button') ? $(this).prev().prev().val('') : $(this).prev().val('');
        });

        // on clicking the button to set map extent to that of currently filtered objects...
        $('#map-extent-filter').on('click', function() {
          if (window.currentFilterExtent.length > 0)
            // set map extent to that of currently filtered objects, if filter is active
            setMapExtentByBoundingBox(window.currentFilterExtent[1][1], window.currentFilterExtent[1][0], window.currentFilterExtent[0][1], window.currentFilterExtent[0][0]);
          else
              // set map extent to that of all objects, if filter is not active
            setMapExtentByLeafletBounds(objectsExtent);
        });

        // on clicking the button to return to initial map extent...
        $('#map-extent-initial').on('click', function() {
          // get initial zoom level from Leaflet configuration
          let defaultZoom = String('{{ LEAFLET_CONFIG }}'.match(/DEFAULT_ZOOM(?:(?!, &#39).)*/));
          defaultZoom = defaultZoom.match(/ [0-9]+/).toString().trim();
          // get initial map center from Leaflet configuration
          let defaultCenter = String('{{ LEAFLET_CONFIG }}'.match(/DEFAULT_CENTER(?:(?!, &#39).)*/));
          let defaultCenterX = String(defaultCenter.match(/ [0-9]+\.[0-9]+/)).trim();
          let defaultCenterY = String(defaultCenter.match(/[0-9]+\.[0-9]+/)).trim();
          // set initial map extent by means of initial zoom level initial map center
          setMapExtentByXYAndZoomLevel(Number(defaultCenterX), Number(defaultCenterY), Number(defaultZoom));
        });

        // on clicking a button to transfer currently filtered data to table...
        $('#subsetter').on('click', function() {
          // create subset of currently filtered data and transfer it to table
          subsetting(
            window.currentFilterPrimaryKeys,
            '{% url "toolbox:subset_add" %}',
            '{{ model_name }}',
            '{{ model_pk_field_name }}',
            '{{ url_model_list_subset_placeholder }}',
            'Bei der Übernahme der aktuellen Filtermenge in die Tabelle ist ein Serverfehler aufgetreten.'
          );
        });

        // dynamically set the height of the map based on the heights of the page areas
        if ($('#map-control').hasClass('side')) {
          let height = $('#map-side-container').position().top;
          $('.side').each(function() {
            height += $(this).height();
          });
          $('#map-side-container').height(height);
          $('#map').height(height);
          if (typeof currMap !== 'undefined')
            currMap.invalidateSize();
        }
      });
    </script>
  {% endif %}
{% endblock %}
