<div id="action-assign-{{ modal_name }}-modal" class="modal fade" tabindex="-1" aria-labelledby="action-assign-{{ modal_name }}-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="action-assign-{{ modal_name }}-modal-header" class="modal-header">
        <h5 id="action-assign-{{ modal_name }}-modal-title" class="modal-title">Wert für Direktzuweisung auswählen</h5>
      </div>
      <div id="action-assign-{{ modal_name }}-modal-body" class="modal-body">
        <div class="text-center">
          <div hidden id="action-assign-{{ modal_name }}-modal-required-alert" class="alert alert-danger" role="alert">Es muss ein Wert eingeben bzw. ausgewählt werden!</div>
          {% if type == 'boolean' or type == 'foreignkey' %}
            <label hidden for="action-assign-{{ modal_name }}-modal-input-field" class="form-label"></label>
            <select class="form-select" id="action-assign-{{ modal_name }}-modal-input-field" name="{{ field_name }}">
              {% for select_value in select_values %}
                  <option value{% if select_value.value %}="{{ select_value.value }}"{% endif %}>{% if select_value.text %}{{ select_value.text }}{% else %}{% if type == 'boolean' %}unbekannt{% else %}---------{% endif %}{% endif %}</option>
              {% endfor %}
            </select>
          {% else %}
            <input type="{{ type }}" class="form-control" id="action-assign-{{ modal_name }}-modal-input-field" name="{{ field_name }}"{% if value_required %} required{% endif %}>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" id="action-assign-{{ modal_name }}-modal-ok">Direktzuweisung durchführen</button>
        <button class="btn btn-warning" type="button" id="action-assign-{{ modal_name }}-modal-cancel" data-bs-dismiss="modal">abbrechen</button>
      </div>
    </div>
  </div>
</div>
