<div id="action-delete-modal" class="modal fade" tabindex="-1" aria-labelledby="action-delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="action-delete-modal-header" class="modal-header">
        <h5 id="action-delete-modal-title" class="modal-title"></h5>
      </div>
      <div id="action-delete-modal-body" class="modal-body">
        <div class="text-center">
          <p></p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" id="action-delete-modal-ok">Löschung durchführen</button>
        <button class="btn btn-warning" type="button" id="action-delete-modal-cancel" data-bs-dismiss="modal">abbrechen</button>
      </div>
    </div>
  </div>
</div>
