{% extends "_base/navbar.html" %}
{% load datenmanagement_tags %}

{% block title %}Möglichkeiten | {% endblock %}

{% block content %}
    <h2>{{ model_verbose_name_plural }}</h2>
    <h4>{{ model_description }}</h4>
    <h3><i>Was möchten Sie tun?</i></h3>
    <div class='row'>
        {% if user|user_has_model_add_permission:model_name_lower %}
            <a href="{% url 'datenmanagement:'|add:model_name|add:'add' %}" class='btn btn-success'>neuen Datensatz anlegen</a>
        {% endif %}
        {% if user|user_has_model_change_permission:model_name_lower or user|user_has_model_delete_permission:model_name_lower or user|user_has_model_view_permission:model_name_lower %}
            <a href="{% url 'datenmanagement:'|add:model_name|add:'list' %}" class='btn btn-default'>Datensätze in Tabelle auflisten</a>
            {% if geometry_type %}
                <a href="{% url 'datenmanagement:'|add:model_name|add:'map' %}" class='btn btn-default'>Datensätze auf Karte anzeigen</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'datenmanagement:index' %}" class='btn btn-default'>zurück</a>
    </div>
{% endblock %}
