#columns-table td,
#columns-table th,
#mapping td,
#mapping th {
  padding: 0.5rem;
}

.container-fluid {
  max-width: 2000px;
}

#mapping .cell-field {
  width: 80%;
}

#mapping .cell-label {
  width: 20%;
}

#mapping-table .alert {
  margin-bottom: 0;
}
