#columns-table td,
#columns-table th,
#mapping td,
#mapping th {
  padding: 0.5rem;
}

.container-fluid {
  max-width: 2000px;
}

#mapping .cell-field {
  width: 80%;
}

#mapping .cell-label {
  width: 20%;
}

#mapping-table .alert {
  margin-bottom: 0;
}

/* no spinners on numeric HTML inputs in Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* no spinners on numeric HTML inputs in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
