{% extends "_base/base.html" %}
{% load staticfiles %}
{% load datenmanagement_tags %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
              <a href={% url 'datenmanagement:index' %} class="navbar-brand">Datenerfassung<span class='small'> {{ datenmanagement_version }} vom {% get_version_date %} (Django {{ django_version }})</span></a>
        </div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{%if user.is_authenticated %}
					{% if user.is_staff %}
						<li>
							<a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a>
			        	</li>
		        	{% else %}
		        		<li>
							<a><span class="glyphicon glyphicon-user"></span> {{user.first_name}} {{user.last_name}}</a>
			        	</li>
		        	{% endif %}
				{% endif %}
                <li>
                    <a href="{% static 'hilfe' %}" target="_blank"><span class="glyphicon glyphicon-education"></span> Hilfe</a>
                </li>
                <!-- <li>
                    <a href="https://geo.sv.rostock.de/datenschutz.html" target="_blank"><span class="glyphicon glyphicon-lock"></span> Datenschutz</a>
                </li>
                <li>
                    <a href="https://geo.sv.rostock.de/impressum.html" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Impressum</a>
                </li> -->
            </ul>
	    	{% if user.is_authenticated %}
	           	<form class="navbar-form navbar-right" role="form">
	            	<a href="{% url 'logout' %}" class="btn btn-danger" role="button">abmelden</a>
	            </form>
	        {% else %}
            	<form class="navbar-form navbar-right" role="login_form" method="post" id="login-form" action="{% url 'login' %}?next={% url 'datenmanagement:index' %}">
            		{% csrf_token %}
            		{% if login_form %} 
						<div class="form-group">
							{{login_form.username}}
        				</div>
						<div class="form-group">
							{{login_form.password}}
        				</div>
                        <input type="submit" class="btn btn-success"  value="anmelden" />
        			{% endif %}
				</form>
	     	{% endif %}
	   	</div><!--/.navbar-collapse -->
	</div>
</div>
{% endblock %}