{% load static %}
{% load i18n %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}

      {% block meta %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% endblock %}

      <title>{% block title %}{% endblock %}Datenwerft.HRO</title>
      <link rel="shortcut icon" href="{% static 'datenmanagement/img/favicon.ico' %}"/>

      {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/all.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/base.css' %}" />
      {% endblock %}

      {% block scripts %}
        <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'popperjs/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'fontawesome/all.min.js' %}"></script>
        <script type="text/javascript">ADDRESS_SEARCH_KEY = '{{ address_search_key }}'</script>
      {% endblock %}

    {% endblock %}
  </head>
  
  <body>
    {% block navbar %}
    {% endblock %}
    <div class="container-fluid mt-5">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
