{% extends "navbar.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}Codelisten | {% endblock %}

{% block content %}
  {% if is_bemas_user %}
    {% if codelists %}
      <h2><i class="fas fa-{{ 'codelist'|get_icon }}"></i> Codelisten</h2>
      <div class="list-group mt-3 mb-3">
        {% for codelist in codelists %}
          <a class="list-group-item list-group-item-action list-group-item-primary" href="{{ codelist.table_url }}">
            <h4>{{ codelist.verbose_name_plural }}</h4>
            <h5><small>{{ codelist.description }}</small></h5>
          </a>
        {% endfor %}
      </div>
    {% endif %}
      <a class="btn btn-warning mb-3" role="button" href="{% url 'bemas:index' %}"><i class="fas fa-{{ 'back'|get_icon }}"></i> zurück</a>
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
