{% extends "bemas/form.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ codelist_verbose_name }} – Formular | {% endblock %}

{% block style %}
  <!-- inherits from form.html -->
  {{ block.super }}
  <!-- bemas specific styles -->
{% endblock %}

{% block scripts %}
  <!-- inherits from form.html -->
  {{ block.super }}
  <!-- bemas specific scripts -->
  <script src="{% static 'bemas/js/form.js' %}"></script>
{% endblock %}

{% block content %}
  {% if is_bemas_admin %}
    {{ block.super }}
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}

{% block errors %}
  {% if form.errors %}
    {% include "bemas/container-errors.html" %}
  {% endif %}
{% endblock %}

{% block headline %}
  <i class="fas fa-{{ 'codelist'|get_icon }}"></i> <em>{{ codelist_verbose_name }}</em>
{% endblock %}

{% block form-control-buttons %}
  <button class="btn btn-success" type="submit"><i class="fas fa-{{ 'save'|get_icon }}"></i> {% if not is_mobile %}{% if object %}Änderungen{% else %}neuen Codelisteneintrag{% endif %} {% endif %}speichern</button>
  {% if object %}
    <a class="btn btn-danger" role="button" href="{{ codelist_deletion_url }}"><i class="fas fa-{{ 'delete'|get_icon }}"></i> {% if not is_mobile %}Codelisteneintrag {% endif %}löschen</a>
  {% endif %}
  <a class="btn btn-warning" role="button" href="{{ codelist_cancel_url }}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
{% endblock %}

