{% extends "base.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ codelist_verbose_name }} – Löschung | {% endblock %}

{% block content %}
  {% if is_bemas_admin %}
    {% if messages %}
      {% include "bemas/container-messages.html" %}
    {% endif %}
    <h2><i class="fas fa-{{ 'codelist'|get_icon }}"></i> <em>{{ codelist_verbose_name }}</em></h2>
    <form class="form mt-4" method="post" action="">
      {% csrf_token %}
      <h5>
        <small>
          Möchten Sie den Eintrag <strong><em>{{ object }}</em></strong> der Codeliste <strong>{{ codelist_verbose_name_plural }}</strong> wirklich löschen?
        </small>
      </h5>
      <div class="d-grid mt-4 mb-3 gap-2">
        <button class="btn btn-danger" type="submit"><i class="fas fa-{{ 'delete'|get_icon }}"></i> {% if not is_mobile %}Codelisteneintrag {% endif %}löschen</button>
        <a class="btn btn-warning" role="button" href="{{ codelist_cancel_url }}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
      </div>
    </form>
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
