{% extends "navbar.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ codelist_verbose_name_plural }} – Möglichkeiten | {% endblock %}

{% block content %}
  {% if is_bemas_user %}
    {% if messages %}
      {% for message in messages %}
        {% if message.tags and message.tags == 'success' %}
          <div class="alert alert-success" role="alert">
            <i class="fa-solid fa-{{ 'ok'|get_icon }}"></i>
            {{ message|safe }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <h2><i class="fas fa-{{ 'codelist'|get_icon }}"></i> Codeliste <em>{{ codelist_verbose_name_plural }}</em></h2>
    <h4><small>{{ codelist_description }}</small></h4>
    <h4 class="mt-3"><em>Was möchten Sie tun?</em></h4>
    <div class="d-grid mt-3 gap-3 mx-auto">
      {% if is_bemas_admin %}
        <a class="btn btn-lg btn-primary" role="button" href="#"><i class="fas fa-{{ 'add'|get_icon }}"></i> neuen Datensatz anlegen</a>
      {% endif %}
      <a class="btn btn-lg btn-secondary" role="button" href="#"><i class="fas fa-{{ 'table'|get_icon }}"></i> alle Codelisteneinträge in Tabelle auflisten</a>
      <a class="btn btn-lg btn-warning" role="button" href="{% url 'bemas:codelists' %}"><i class="fas fa-{{ 'back'|get_icon }}"></i> zurück</a>
    </div>
    <script>
      /* global $ */
      /* eslint no-undef: "error" */

      setTimeout(function () {
        $('.alert').alert('close');
      }, 3000);
    </script>
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
