{% extends "navbar.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ codelist_verbose_name }} – Formular | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form.css' %}">
  {% if is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-mobile.css' %}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-desktop.css' %}">
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'bemas/js/form.js' %}"></script>
{% endblock %}

{% block content %}
  {% if is_bemas_admin %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-{{ 'error'|get_icon }}"></i>
            {% autoescape off %}
              {{ error }}
            {% endautoescape %}
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-{{ 'error'|get_icon }}"></i>
          {{ error }}
        </div>
      {% endfor %}
      <div class="mb-4"></div>
    {% endif %}
    <form class="form" method="post" action="">
      {% csrf_token %}
      <div>
        <table class="table">
          {% for field in form %}
            <tr>
              <td class="cell-label">
                {{ field.label_tag }}
              </td>
              {% autoescape off %}
                <td class="cell-field">
                  {{ field }}
                </td>
              {% endautoescape %}
            </tr>
          {% endfor %}
        </table>
      </div>
      <div id="buttons">
        <div class="d-grid mt-5 mb-3 gap-2 d-md-block">
          <button class="btn btn-success" type="submit"><i class="fas fa-{{ 'save'|get_icon }}"></i> {% if not is_mobile %}{% if object %}Änderungen{% else %}neuen Codelisteneintrag{% endif %} {% endif %}speichern</button>
          {% if object %}
            <button class="btn btn-primary" type="submit" onclick="cloneObject('{{ codelist_clone_url }}');"><i class="fas fa-{{ 'clone'|get_icon }}"></i> {% if not is_mobile %}als neuen Codelisteneintrag {% endif %}klonen</button>
            <a class="btn btn-danger" role="button" href="{% url 'bemas:codelists_'|add:codelist_name|lower|add:'_delete' object.pk %}"><i class="fas fa-{{ 'delete'|get_icon }}"></i> {% if not is_mobile %}Codelisteneintrag {% endif %}löschen</a>
          {% endif %}
          <a class="btn btn-warning" role="button" href="{% url 'bemas:codelists_'|add:codelist_name|lower|add:'_table' %}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
        </div>
      </div>
    </form>
    <script>
      /* global $ keepDjangoRequiredMessages */
      /* eslint no-undef: "error" */

      /**
       * @function
       *
       * main function
       */
      $(document).ready(function () {
        keepDjangoRequiredMessages();
      });
    </script>
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
