{% extends "navbar.html" %}
{% load bemas_tags %}
{% if objectclass_is_geometry_model %}
  {% load leaflet_tags %}
{% endif %}
{% load static %}

{% block title %}{{ objectclass_verbose_name }} – Formular | {% endblock %}

{% block style %}
  {{ block.super }}
  {% if objectclass_is_geometry_model %}
    {% leaflet_css plugins="geoman,locatecontrol" %}
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form.css' %}">
  {% if is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-mobile.css' %}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-desktop.css' %}">
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% if objectclass_is_geometry_model %}
    {% leaflet_js plugins="geoman,locatecontrol" %}
    <script src="{% static 'proj4/proj4.js' %}"></script>
    <script src="{% static 'wicket/wicket.js' %}"></script>
    <script src="{% static 'wicket/wicket-leaflet.js' %}"></script>
    <script src="{% static 'proj4leaflet/proj4leaflet.js' %}"></script>
    <script src="{% static 'datenmanagement/js/cartographicHelpers.js' %}"></script>
    <script src="{% static 'datenmanagement/js/genericHelpers.js' %}"></script>
    <script type="module" src="{% static 'datenmanagement/js/leafletHelpers.js' %}"></script>
  {% endif %}
  <script src="{% static 'bemas/js/form.js' %}"></script>
{% endblock %}

{% block content %}
  {% if is_bemas_user %}
    {% if form.errors %}
      {% include "bemas/container-errors.html" %}
    {% endif %}
    <h2><i class="fas fa-{{ objectclass_name|lower|get_icon }}"></i> <em>{{ objectclass_verbose_name }}</em></h2>
    {% if objectclass_logentry_url %}
      <a href="{{ objectclass_logentry_url }}"><i class="fas fa-{{ 'logentry'|get_icon }}"></i> Einträge im Bearbeitungsverlauf anzeigen</a>
    {% endif %}
    {% if objectclass_name == 'Organization' and object %}
      {% include "bemas/container-contacts.html" %}
    {% elif objectclass_name == 'Complaint' and object %}
      {% include "bemas/container-events.html" %}
    {% endif %}
    <form class="form mt-4" method="post" action="">
      {% csrf_token %}
      <div {% if objectclass_is_geometry_model %}id="custom-form"{% endif %}>
        <table class="table">
          {% for field in form %}
            {% if not field|is_field_geometry_field and not field.name == 'address' %}
              <tr>
                <td class="cell-label">
                  {{ field.label_tag }}
                </td>
                {% autoescape off %}
                  <td class="cell-field">
                    {{ field }}
                  </td>
                {% endautoescape %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      {% if objectclass_is_geometry_model %}
        <div id="map-addresssearch-container-form">
          <label hidden for="id_{{ objectclass_geometry_field }}" class="form-label">Geometrie</label>
          {% if geometry %}
            <textarea hidden id="id_{{ objectclass_geometry_field }}" class="required django-leaflet-raw-textarea" name="{{ objectclass_geometry_field }}" cols="150" rows="4">{{ geometry }}</textarea>
          {% else %}
            <textarea hidden id="id_{{ objectclass_geometry_field }}" class="required django-leaflet-raw-textarea" name="{{ objectclass_geometry_field }}" cols="150" rows="4">{ "type": "Point", "coordinates": [] }</textarea>
          {% endif %}
          {% leaflet_map "leaflet-map" callback="window.mapCallbackFunction" %}
          <div class="d-grid mt-3 gap-2 d-md-block">
            <button disabled id="addressToMap" class="btn btn-primary" type="button"><i class="fas fa-{{ 'address_to_map'|get_icon }}"></i> Marker auf aktuelle Adresse setzen</button>
            <button disabled id="mapToAddress" class="btn btn-primary" type="button"><i class="fas fa-{{ 'address'|get_icon }}"></i> Adresse des aktuellen Markers übernehmen</button>
          </div>
          <div class="mt-3">
            <label for="id_address" class="form-label">Adresse</label>
            <div class="form-floating">
              <input id="id_address" type="text" class="form-control" name="address"{% if form.address.value %} value="{{ form.address.value }}"{% endif %} autocapitalize="off" autocomplete="off" placeholder="Adresse suchen…">
              <label for="id_address">Adresse suchen…</label>
            </div>
            <div id="results-container" class="results"></div>
          </div>
        </div>
      {% endif %}
      <div id="buttons">
        <div class="d-grid mt-5 mb-3 gap-2 d-md-block">
          <button class="btn btn-success" type="submit" onclick="setFinalArrayFields(); setFinalGeometry('#id_{{ objectclass_geometry_field }}');"><i class="fas fa-{{ 'save'|get_icon }}"></i> {% if not is_mobile %}{% if object %}Änderungen{% else %}{{ objectclass_new }} {{ objectclass_verbose_name }}{% endif %} {% endif %}speichern</button>
          {% if object %}
            <a class="btn btn-danger" role="button" href="{{ objectclass_deletion_url }}"><i class="fas fa-{{ 'delete'|get_icon }}"></i> {% if not is_mobile %}{{ objectclass_verbose_name }} {% endif %}löschen</a>
          {% endif %}
          <a class="btn btn-warning" role="button" href="{{ objectclass_cancel_url }}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
        </div>
      </div>
      {% include "modal-error.html" %}
    </form>
    <script>
      /* global $, addEmptyFieldButton, addField, cleanField, configureLeafletGeoman, configureMap, enableAddressReferenceButton, enableMapLocate, initializeAddressSearch, keepDjangoRequiredMessages, L, setAddressToMarkerAddress, setButtonsPosition, setMapConstants, setMarkerToAddressSearchResult */
      /* eslint no-undef: "error" */
      /**
       * @function
       * @name mapCallbackFunction
       *
       * handles (as a callback function) given map
       *
       * @param {Object} map - map
       */
      function mapCallbackFunction(map) {
        setMapConstants(map);
        configureMap(map, '{% url "toolbox:owsproxy" %}');

        // make map globally available
        window.currMap = map;

        {% if is_mobile %}
          enableMapLocate(map)
        {% endif %}

        // configure globally available markers for Leaflet
        window.redMarker = new L.Icon({
          shadowUrl: '{% static "datenmanagement/img/leaflet-markers/marker-shadow.png" %}',
          iconUrl: '{% static "datenmanagement/img/leaflet-markers/marker-red.svg" %}',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        // define several globally available variables
        window.featureGeometry = [];
        {% if REVERSE_SEARCH_RADIUS %}
          window.reverseSearchRadius = {{ REVERSE_SEARCH_RADIUS }}
        {% endif %}

        configureLeafletGeoman(map, 'Point');

        // if geometry already exists...
        {% if geometry %}
          // show existing geometry on map
          map.loadGeometryFromField('#id_{{ objectclass_geometry_field }}')
        {% endif %}

        /**
         * @function
         *
         * checks (on starting "sketching" mode) if a Leaflet-Geoman layer already exists
         * and deletes it if necessary
         */
        map.on('pm:drawstart', function () {
          if (map.pm.getGeomanLayers().length > 0) {
            map.pm.getGeomanLayers().forEach((item) => {
              if (item._drawnByGeoman === true)
                map.removeLayer(item);
            })
          }
        });

        /**
         * @function
         *
         * enables (on creating a Leaflet-Geoman layer) address reference button
         */
        map.on('pm:create', function () {
          enableAddressReferenceButton();
        });
      }

      /**
       * @function
       *
       * main function
       */
      $(document).ready(function () {
        keepDjangoRequiredMessages();

        // define available variable for the necessity of dynamically setting vertical positions of buttons
        let buttonsPosition = false;
        {% if not is_mobile and objectclass_is_geometry_model %}
          buttonsPosition = true
        {% endif %}

        // define variable for array fields and their values
        // (i.e. for those array fields containing more than one value)
        let arrayFieldsValues = [];
        {% if object and array_fields_values %}
          arrayFieldsValues = {{ array_fields_values|safe }}
        {% endif %}

        // handle array fields
        $('[is_array_field="true"]').each(function () {
          let currentField = $(this);
          let currentFieldId = currentField.attr('id');
          let currentFieldName = currentField.attr('name');
          // if array field contains more than one value
          // (and therefore is contained in variable for array fields and their values defined above)...
          if (arrayFieldsValues[currentFieldName]) {
            let valuesParsed = arrayFieldsValues[currentFieldName];
            for (let i = 0; i < valuesParsed.length; i++) {
              // clone first (initial) field and define it as new field
              let newField = currentField.clone();
              cleanField(newField, i + 1, currentFieldId, currentFieldName);
              // write corresponding value to new field
              newField.attr('value', valuesParsed[i]);
              newField.val(valuesParsed[i]);
              // insert new field into DOM and add a deletion button
              addField(newField, currentField, buttonsPosition);
              currentField = newField;
            }
          }
          // create button for adding another field
          let addAnotherField = $('<span><i class="add-another-field fas fa-circle-plus text-primary" title="weiteren Wert hinzufügen"></i></span>');
          addAnotherField.insertAfter(currentField.parent().is('.input-group') ? currentField.parent() : currentField);
          // on clicking the created button for adding another field...
          addAnotherField.click(function () {
            // clone previous field and define it as new empty field
            let currentField = $(this).prev().is('.input-group') ? $(this).prev().children('input:nth-child(1)') : $(this).prev();
            let newField = currentField.clone();
            let i = 1;
            if (/_[0-9]*$/.test(currentField.attr('name')))
              i = Number(currentField.attr('name').replace(/.*_/, '')) + 1;
            cleanField(newField, i, currentField.attr('id').replace(/_[0-9]*$/, ''), currentField.attr('name').replace(/_[0-9]*$/, ''));
            newField.removeAttr('value');
            newField.val('');
            // insert new field into DOM and add a deletion button
            addField(newField, currentField, buttonsPosition);
          });
        });

        // handle sector select field: add tooltips to options, based on examples given for sectors
        let sectorExamples = [];
        {% if sector_examples %}
          sectorExamples = {{ sector_examples|safe }}
        {% endif %}
        $('select#id_sector > option').each(function () {
          let value = $(this).attr('value');
          if (value > 0)
            $(this).attr('title', sectorExamples[value]);
        });

        // handle multiple select fields
        $('select[multiple]').each(function () {
          addEmptyFieldButton($(this));
        });

        // initialize address search (and make its results globally available)
        window.results = $('div.results');
        window.addressType = 'Adresse';
        window.searchField = $('#id_address');
        {% if objectclass_is_geometry_model %}
          initializeAddressSearch(window.searchField, '{% url "toolbox:addresssearch" %}', window.addressType)
        {% endif %}

        // on clicking the map reference (i.e. address to map) button...
        $('#addressToMap').on('click', function () {
          setMarkerToAddressSearchResult(window.currMap);
          enableAddressReferenceButton();
        });

        // on clicking the address reference (i.e. map to address) button...
        $('#mapToAddress').on('click', function () {
          setAddressToMarkerAddress(window.currMap.pm.getGeomanLayers()[0], '{% url "toolbox:reversesearch" %}');
          $('#addressToMap').prop('disabled', false);
        });

        if (buttonsPosition)
          setButtonsPosition();
      });
    </script>
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
