{% extends "navbar.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ objectclass_verbose_name }} – Formular | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form.css' %}">
  {% if is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-mobile.css' %}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-desktop.css' %}">
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'bemas/js/form.js' %}"></script>
{% endblock %}

{% block content %}
  {% if is_bemas_user %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-{{ 'error'|get_icon }}"></i>
            {% autoescape off %}
              {% with replace_string='ATTRIBUTE|'|add:field.label %}
                {{ error|replace:replace_string }}
              {% endwith %}
            {% endautoescape %}
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-{{ 'error'|get_icon }}"></i>
          {{ error }}
        </div>
      {% endfor %}
      <div class="mb-4"></div>
    {% endif %}
    {% if objectclass_name == 'Organization' and object %}
      <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">Ansprechpartner:in(nen)</h5>
        {% if contacts %}
          <ul>
            {% for contact in contacts %}
              <li>
                <a href="{{ contact.link }}" target="_blank" rel="noopener noreferrer" title="Ansprechpartner:in bearbeiten">{{ contact.text }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          (noch) keine Person als Ansprechpartner:in verknüpft
        {% endif %}
        <hr>
        <a class="btn btn-primary" role="button" href="{% url 'bemas:contact_create' %}" target="_blank" rel="noopener noreferrer"><i class="fas fa-{{ 'create'|get_icon }}"></i> neue:n Ansprechpartner:in anlegen</a>
      </div>
      <div class="mb-4"></div>
    {% endif %}
    <form class="form" method="post" action="">
      {% csrf_token %}
      <div>
        <table class="table">
          {% for field in form %}
            <tr>
              <td class="cell-label">
                {{ field.label_tag }}
              </td>
              {% autoescape off %}
                <td class="cell-field">
                  {{ field }}
                </td>
              {% endautoescape %}
            </tr>
          {% endfor %}
        </table>
      </div>
      <div id="buttons">
        <div class="d-grid mt-5 mb-3 gap-2 d-md-block">
          <button class="btn btn-success" type="submit" onclick="setFinalArrayFields();"><i class="fas fa-{{ 'save'|get_icon }}"></i> {% if not is_mobile %}{% if object %}Änderungen{% else %}{{ objectclass_new }} {{ objectclass_verbose_name }}{% endif %} {% endif %}speichern</button>
          {% if object %}
            <button class="btn btn-primary" type="submit" onclick="setFinalArrayFields(); cloneObject('{{ objectclass_clone_url }}');"><i class="fas fa-{{ 'clone'|get_icon }}"></i> {% if not is_mobile %}als {{ objectclass_new }} {{ objectclass_verbose_name }} {% endif %}klonen</button>
            <a class="btn btn-danger" role="button" href="{% url 'bemas:'|add:objectclass_name|lower|add:'_delete' object.pk %}"><i class="fas fa-{{ 'delete'|get_icon }}"></i> {% if not is_mobile %}{{ objectclass_verbose_name }} {% endif %}löschen</a>
          {% endif %}
          <a class="btn btn-warning" role="button" href="{{ cancel_url }}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
        </div>
      </div>
    </form>
    <script>
      /* global $, addField, cleanField, keepDjangoRequiredMessages */
      /* eslint no-undef: "error" */

      /**
       * @function
       *
       * main function
       */
      $(document).ready(function () {
        keepDjangoRequiredMessages();

        // define variable for array fields and their values
        // (i.e. for those array fields containing more than one value)
        let arrayFieldsValues = [];
        {% if object and array_fields_values %}
          arrayFieldsValues = {{ array_fields_values|safe }}
        {% endif %}

        // handle array fields
        $('[is_array_field="true"]').each(function () {
          let currentField = $(this);
          let currentFieldId = currentField.attr('id');
          let currentFieldName = currentField.attr('name');
          // if array field contains more than one value
          // (and therefore is contained in variable for array fields and their values defined above)...
          if (arrayFieldsValues[currentFieldName]) {
            let valuesParsed = arrayFieldsValues[currentFieldName];
            for (let i = 0; i < valuesParsed.length; i++) {
              // clone first (initial) field and define it as new field
              let newField = currentField.clone();
              cleanField(newField, i + 1, currentFieldId, currentFieldName);
              // write corresponding value to new field
              newField.attr('value', valuesParsed[i]);
              newField.val(valuesParsed[i]);
              // insert new field into DOM and add a deletion button
              addField(newField, currentField);
              currentField = newField;
            }
          }
          // create button for adding another field
          let addAnotherField = $('<span><i class="add-another-field fas fa-circle-plus text-primary" title="weiteren Wert hinzufügen"></i></span>');
          addAnotherField.insertAfter(currentField.parent().is('.input-group') ? currentField.parent() : currentField);
          // on clicking the created button for adding another field...
          addAnotherField.click(function () {
            // clone previous field and define it as new empty field
            let currentField = $(this).prev().is('.input-group') ? $(this).prev().children('input:nth-child(1)') : $(this).prev();
            let newField = currentField.clone();
            let i = 1;
            if (/_[0-9]*$/.test(currentField.attr('name')))
              i = Number(currentField.attr('name').replace(/.*_/, '')) + 1;
            cleanField(newField, i, currentField.attr('id').replace(/_[0-9]*$/, ''), currentField.attr('name').replace(/_[0-9]*$/, ''));
            newField.removeAttr('value');
            newField.val('');
            // insert new field into DOM and add a deletion button
            addField(newField, currentField);
          });
        });
      });
    </script>
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
