{% extends "navbar.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ objectclass_verbose_name_plural }} – Tabelle | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/list.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'datatables/datatables.min.js' %}"></script>
{% endblock %}

{% block content %}
  {% if is_bemas_user %}
    <h2><i class="fas fa-{{ objectclass_name|lower|get_icon }}"></i> <em>{{ objectclass_verbose_name_plural }}</em></h2>
    <h4><small>{{ objectclass_description }}</small></h4>
    {% if objects_count == 0 %}
      <h4 class="mt-3">
        <em>Keine {{ objectclass_verbose_name_plural }} vorhanden!</em>
      </h4>
    {% endif %}
    <div class="d-grid mt-5 gap-2{% if not is_mobile %} d-md-block{% endif %}">
      <a class="btn btn-primary" role="button" href="{% url 'bemas:'|add:objectclass_name|lower|add:'_create' %}"><i class="fas fa-{{ 'add'|get_icon }}"></i> neue(n) {{ objectclass_verbose_name }} anlegen</a>
      <a class="btn btn-warning" role="button" href="{% url 'bemas:index' %}"><i class="fas fa-{{ 'back'|get_icon }}"></i> zurück</a>
    </div>
    {% if objects_count > 0 %}
      <div class="d-grid mt-5 mb-3 gap-2 mx-auto">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <i class="fa-solid fa-{{ 'warning'|get_icon }}"></i> Tabelle wird Server-seitig erzeugt, weshalb nur die <strong><em>aktuell sichtbare</em></strong> Tabelle exportiert wird – Anzahl der aktuell sichtbaren {{ objectclass_verbose_name_plural }} <strong><em>unten links</em></strong> steuerbar
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <table id="datasets" class="table table-bordered table-striped">
          <thead>
            <tr>
              {% for column_title in column_titles %}
                <th>{{ column_title }}</th>
              {% endfor %}
              <th class="no-export">Aktionen</th>
            </tr>
          </thead>
        </table>
      </div>
      <!-- eslint-disable-next-script -->
      <script>
        window.dataUrl = "{% url 'bemas:'|add:objectclass_name|lower|add:'_tabledata' %}";
        window.languageUrl = '{% static 'datatables/datatables.german.lang' %}';
      </script>
      <script>
        /* global $, jQuery, subsetting */
        /* eslint no-undef: "error" */

        /**
         * @function
         *
         * main function
         */
        $(document).ready(function() {
          $('#datasets').DataTable({
            ajax: window.dataUrl,
            buttons: [
              {
                extend: 'csvHtml5',
                fieldSeparator: ';',
                exportOptions: {
                  // no export of columns marked respectively
                  columns: ':visible:not(.no-export)'
                }
              }, {
                extend: 'excelHtml5',
                title: '',
                exportOptions: {
                  columns: ':visible:not(.no-export)'
                }
              }, {
                extend: 'pdfHtml5',
                exportOptions: {
                  columns: ':visible:not(.no-export)'
                },
                orientation: 'landscape',
                pageSize: 'A4',
                customize: function(doc) {
                  doc.defaultStyle.fontSize = 7;
                  doc.pageMargins = [20, 20, 20, 20];
                  doc.styles.tableHeader.fontSize = 7;
                }
              }
            ],
            colReorder: true,
            columnDefs: [{
              'orderable': false,
              'targets': -1
            }],
            dom: '<Bfr<t>ilp>',
            fixedHeader: true,
            language: {
              url: window.languageUrl
            },
            lengthMenu: [[25, 50, -1], [25, 50, 'alle']],
            // initial order
            order: {{ initial_order|safe }},
            orderCellsTop: true,
            orderClasses: false,
            orderMulti: false,
            pageLength: 25,
            processing: true,
            searchDelay: 500,
            searching: true,
            serverSide: true,
            stateSave: true
          });
        });
      </script>
    {% endif %}
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
