{% extends "base.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ objectclass_verbose_name }} – Löschung | {% endblock %}

{% block content %}
  {% if is_bemas_user %}
    {% if messages %}
      {% include "bemas/container-messages.html" %}
    {% endif %}
    <h2><i class="fas fa-{{ objectclass_name|lower|get_icon }}"></i> <em>{{ objectclass_verbose_name }}</em></h2>
    {% if objectclass_logentry_url %}
      <a href="{{ objectclass_logentry_url }}"><i class="fas fa-{{ 'logentry'|get_icon }}"></i> Einträge im Bearbeitungsverlauf anzeigen</a>
    {% endif %}
    <form class="form mt-4" method="post" action="">
      {% csrf_token %}
      <h5>
        <small>
          Möchten Sie {{ objectclass_definite_article }} {{ objectclass_verbose_name }} <strong><em>{{ object }}</em></strong> wirklich löschen?
        </small>
      </h5>
      {% if deletion_hints %}
        {% include "bemas/container-deletion-hints.html" %}
      {% endif %}
      <div class="d-grid mt-4 mb-3 gap-2">
        <button class="btn btn-danger" type="submit"><i class="fas fa-{{ 'delete'|get_icon }}"></i> {% if not is_mobile %}{{ objectclass_verbose_name }} {% endif %}löschen</button>
        <a class="btn btn-warning" role="button" href="{{ objectclass_cancel_url }}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
      </div>
    </form>
  {% else %}
    {% include "bemas/notice-norights.html" %}
  {% endif %}
{% endblock %}
