{% extends "navbar.html" %}
{% load bemas_tags %}
{% load static %}

{% block title %}{{ objectclass_verbose_name }} – Löschung | {% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags and message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-{{ 'error'|get_icon }}"></i>
          {{ message|safe }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <form class="form" method="post" action="">
    {% csrf_token %}
    <h5>
      <small>
        Möchten Sie die/den {{ objectclass_verbose_name }} <strong><em>{{ object }}</em></strong> wirklich löschen?
      </small>
    </h5>
    <div class="d-grid mt-4 mb-3 gap-2 d-md-block">
      <button class="btn btn-danger" type="submit"><i class="fas fa-{{ 'delete'|get_icon }}"></i> {% if not is_mobile %}{{ objectclass_verbose_name }} {% endif %}löschen</button>
      <a class="btn btn-warning" role="button" href="{% url 'bemas:'|add:objectclass_name|lower|add:'_table' %}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
    </div>
  </form>
{% endblock %}
