{% extends "_base/navbar.html" %}

{% block title %}Anmeldung | {% endblock %}

{% block content %}
	{% if form.errors and not form.non_field_errors %}
		<p class="errornote">
			Fehler in der Eingabe
		</p>
	{% endif %}
	{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
			<p class="errornote">
				{{ error }}
			</p>
		{% endfor %}
	{% endif %}
	
	<div id="content-main">
		<form method="post" id="login-form" action="{% url 'login' %}?next={% url 'datenmanagement:index' %}">{% csrf_token %}
			<div class="col-md-6">
          		<table class="table table-striped">
          			<tr>
						<th>{{ form.username.label_tag }}</th>
						<td>{{ form.username }}{{ form.username.errors }}</td>
					</tr>
					<tr>
						<th>{{ form.password.label_tag }}</th>
						<td>{{ form.password }}{{ form.password.errors }}</td>
						<input type="hidden" name="next" value="{{ next }}" />
					</tr>
				</table>
				<label>&nbsp;</label><input type="submit" class="btn btn-success" value="anmelden" />
			</div>
		</form>
		<script type="text/javascript">
			document.getElementById('id_username').focus()
		</script>
	</div>
{% endblock %}