{% extends "_base/navbar.html" %}
{% load static %}

{% block title %}Anmeldung | {% endblock %}

{% block specials %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/login.css' %}" />
{% endblock %}

{% block content %}
	{% if form.errors and not form.non_field_errors %}
		<div class="alert alert-warning" role="alert">
			Fehler in der Eingabe
		</div>
	{% endif %}
	{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-warning" role="alert">
				{{ error }}
			</div>
		{% endfor %}
	{% endif %}
  
  <form class="form-signin" role="login_form" method="post" action="{% url 'login' %}?next={% url 'datenmanagement:index' %}">
    {% csrf_token %}
    <div class="form-label-group">
      {{ login_form.username.label_tag }}
      {{ login_form.username }}{{ form.username.errors }}
    </div>
    <div class="form-label-group">
      {{ login_form.password.label_tag }}
      {{ login_form.password }}{{ form.password.errors }}
    </div>
    <input class="btn btn-lg btn-success btn-block" type="submit" value="anmelden" />
  </form>
{% endblock %}