{% load fmm_tags %}
{% for message in messages %}
  {% if message.tags and message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
      <i class="fas fa-{{ 'error'|get_icon }}"></i>
      {{ message|safe }}
    </div>
  {% elif message.tags and message.tags == 'warning' %}
    <div class="alert alert-warning" role="alert">
      <i class="fas fa-{{ 'warning'|get_icon }}"></i>
      {{ message|safe }}
    </div>
  {% elif message.tags and message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
      <i class="fas fa-{{ 'ok'|get_icon }}"></i>
      {{ message|safe }}
    </div>
  {% endif %}
  {% if message.tags and message.tags == 'info' %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <i class="fas fa-{{ 'info'|get_icon }}"></i>
      {{ message|safe }}
      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
{% endfor %}