{% extends "base.html" %}
{% load fmm_tags %}
{% load static %}

{% block title %}FMM | {% endblock %}

{% block content %}
  {% if is_fmm_user %}
    {% if messages %}
      {% include "fmm/container_messages.html" %}
    {% endif %}
    DUMMY
    <a class="btn btn-lg btn-primary" role="button" href="{% url 'fmm:fmf_create' %}"><i class="fas fa-{{ 'add'|get_icon }}"></i></a>
    <input type="hidden" name="original_referer_url" value="{{ referer_url }}">
    <script>
      setTimeout(function () {
        $('.alert-success').alert('close');
        $('.alert-warning').alert('close');
      }, 3000);
    </script>
  {% else %}
    {% include "fmm/notice_no-permissions.html" %}
  {% endif %}
{% endblock %}
