{% extends "base.html" %}
{% load fmm_tags %}
{% load static %}

{% block title %}FMM | {% endblock %}

{% block content %}
  {% if is_fmm_user %}
    {% if not is_mobile %}
      <div class="row g-4">
        <div class="col-4">
          <div class="alert alert-primary h-100 text-center no-padding-bottom">
            <p class="mt-4 mb-4 fs-1"><i class="me-2 fas fa-{{ 'fmf'|get_icon }}"></i>FMF</p>
            <div class="mb-4 d-grid col-4 mx-auto">
              <a class="btn btn-lg btn-primary fs-2" role="button" href="#" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="neue FMF erstellen"><i class="fas fa-{{ 'add'|get_icon }}"></i></a>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="card bg-light h-100">
            <div class="card-header"><i class="me-2 fas fa-{{ 'activity'|get_icon }}"></i>letzte Änderungen an FMF</div>
            <div class="card-body">
              <table class="table table-borderless small mb0">
                <thead>
                  <tr class="no-padding-bottom">
                    <th scope="col">FMF</th>
                    <th scope="col">Aktion</th>
                    <th scope="col">Zeitpunkt</th>
                    <th scope="col">Benutzer:in</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="no-padding-bottom">
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                  </tr>
                  <tr class="no-padding-bottom">
                    <td>yyy</td>
                    <td>yyy</td>
                    <td>yyy</td>
                    <td>yyy</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              aktuell <strong>zzz</strong> FMF vorhanden
            </div>
          </div>
        </div>
      </div>
      <div class="mt-1 row g-4">
        <div class="col">
          <div class="alert alert-primary h-100 text-center no-padding-bottom">
            <p class="mt-4 mb-4 fs-1"><i class="me-2 fas fa-{{ 'fmf'|get_icon }}"></i>FMF</p>
            <div class="mb-4 d-grid col-4 mx-auto">
              <a class="btn btn-lg btn-primary fs-2" role="button" href="#" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="alle vorhandenen FMF in Tabelle anzeigen"><i class="fas fa-{{ 'table'|get_icon }}"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="alert alert-primary h-100 text-center no-padding-bottom">
            <p class="mt-4 mb-4 fs-1"><i class="me-2 fas fa-{{ 'fmf'|get_icon }}"></i>FMF</p>
            <div class="mb-4 d-grid col-4 mx-auto">
              <a class="btn btn-lg btn-primary fs-2" role="button" href="#" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="alle vorhandenen FMF auf Karte anzeigen"><i class="fas fa-{{ 'map'|get_icon }}"></i></a>
            </div>
          </div>
        </div>
      </div>
      <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
      </script>
    {% else %}
      <div class="row">
        <div class="d-grid gap-2">
          <a class="btn btn-lg btn-primary" role="button" href="#"><i class="me-2 fas fa-{{ 'fmf'|get_icon }}"></i>FMF<i class="ms-2 fas fa-{{ 'add'|get_icon }}"></i></a>
          <a class="btn btn-lg btn-primary" role="button" href="#"><i class="me-2 fas fa-{{ 'fmf'|get_icon }}"></i>FMF<i class="ms-2 fas fa-{{ 'table'|get_icon }}"></i></a>
          <a class="btn btn-lg btn-primary" role="button" href="#"><i class="me-2 fas fa-{{ 'fmf'|get_icon }}"></i>FMF<i class="ms-2 fas fa-{{ 'map'|get_icon }}"></i></a>
        </div>
      </div>
    {% endif %}
  {% else %}
    {% include "fmm/notice_no-permissions.html" %}
  {% endif %}
{% endblock %}
