{% extends "navbar.html" %}
{% load toolbox_tags %}
{% load antragsmanagement_tags %}
{% load static %}

{% block title %}{{ model_verbose_name }} – Formular | {% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form.css' %}">
  {% if is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-mobile.css' %}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'datenmanagement/css/form-desktop.css' %}">
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'bemas/js/form.js' %}"></script>
{% endblock %}

{% block content %}
  {% if has_necessary_permissions %}
    {% if form.errors %}
      {% include "antragsmanagement/container-errors.html" %}
    {% endif %}
    {% if corresponding_requester %}
      <h2>{% if object %}ändern{% else %}neu{% endif %} → {{ model_verbose_name }}{% if object %} <em>{{ object }}</em>{% endif %}</h2>
      {% if request_workflow and request_workflow|get_dict_value_by_key:'current_step' and request_workflow|get_dict_value_by_key:'steps' and request_workflow|get_dict_value_by_key:'steps' > request_workflow|get_dict_value_by_key:'current_step' %}
        <h4>Schritt {{ request_workflow|get_dict_value_by_key:'current_step' }} von {{ request_workflow|get_dict_value_by_key:'steps' }} bis zum fertigen Antrag</h4>
      {% endif %}
      <form class="form mt-4" method="post" action="">
        {% csrf_token %}
        <div>
          <table class="table">
            {% for field in form %}
              <tr>
                <td class="cell-label">
                  {{ field.label_tag }}
                </td>
                {% autoescape off %}
                  <td class="cell-field">
                    {{ field }}
                  </td>
                {% endautoescape %}
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="d-grid mt-5 mb-3 gap-2">
          {% if request_workflow and request_workflow|get_dict_value_by_key:'current_step' and request_workflow|get_dict_value_by_key:'steps' and request_workflow|get_dict_value_by_key:'steps' > request_workflow|get_dict_value_by_key:'current_step' %}
            <button class="btn btn-success" type="submit">weiter <i class="fas fa-{{ 'next'|get_icon }}"></i></button>
          {% else %}
            <button class="btn btn-success" type="submit"><i class="fas fa-{{ 'save'|get_icon }}"></i> speichern</button>
          {% endif %}
          <a class="btn btn-danger" role="button" href="{{ cancel_url }}"><i class="fas fa-{{ 'cancel'|get_icon }}"></i> abbrechen</a>
        </div>
      </form>
      <script>
        /**
         * @function
         *
         * main function
         */
        $(document).ready(function () {
          keepDjangoRequiredMessages();
        });
      </script>
    {% else %}
      {% include "antragsmanagement/notice-nocontactdata.html" %}
      <div class="d-grid mt-5 mb-3">
        <a class="btn btn-warning" role="button" href="{{ cancel_url }}"><i class="fas fa-{{ 'back'|get_icon }}"></i> zurück</a>
      </div>
    {% endif %}
  {% else %}
    {% include "antragsmanagement/notice-nopermissions.html" %}
  {% endif %}
{% endblock %}
