{% extends "navbar.html" %}
{% load static %}

{% block title %}Antragsmanagement | {% endblock %}

{% block content %}
  {% if is_antragsmanagement_user %}
    {% if is_antragsmanagement_requester %}
      Antragsteller:in
      <ul>
        <li><a href="{% url 'antragsmanagement:requester_create' %}">Requester -> Create</a></li>
        <li>Requester -> Update (nur eigenen)</li>
        <li>CleanupEventRequest -> List (nur eigene)</li>
        <li>CleanupEventRequest -> Map (nur eigene)</li>
        <li>CleanupEventRequest -> Create</li>
      </ul>
    {% endif %}
    {% if belongs_to_antragsmanagement_authority %}
      Behörde
      <ul>
        <li>CleanupEventRequest -> List (nur zugewiesene)</li>
        <li>CleanupEventRequest -> Map (nur zugewiesene)</li>
        <li>CleanupEventRequest -> Update (nur zugewiesene)</li>
      </ul>
    {% endif %}
    {% if is_antragsmanagement_admin %}
      Admin
      <ul>
        <li>Authority -> List</li>
        <li><a href="{% url 'antragsmanagement:authority_update' pk=1 %}">Authority -> Update</a></li>
        <li>Email -> List</li>
        <li><a href="{% url 'antragsmanagement:email_update' pk=2 %}">Email -> Update</a></li>
        <li>CleanupEventRequest -> List</li>
        <li>CleanupEventRequest -> Map</li>
      </ul>
    {% endif %}
    <script>
      setTimeout(function () {
        $('.alert-success').alert('close');
      }, 3000);
    </script>
  {% else %}
    {% include "antragsmanagement/notice-nopermissions.html" %}
  {% endif %}
{% endblock %}
