{% extends "navbar.html" %}
{% load static %}

{% block title %}Antragsmanagement | {% endblock %}

{% block content %}
  {% if is_antragsmanagement_user %}
    {% if messages %}
      {% include "antragsmanagement/container-messages.html" %}
    {% endif %}
    {% if is_antragsmanagement_requester %}
      Antragsteller:in
      <ul>
        {% if corresponding_requester %}
          <li>Requester existiert schon: <a href="{% url 'antragsmanagement:requester_update' pk=corresponding_requester %}">Requester -> Update</a> (= eigene Kontaktdaten aktualisieren)</li>
        {% else %}
          <li>Requester existiert noch nicht: <a href="{% url 'antragsmanagement:requester_create' %}">Requester -> Create</a> (= eigene Kontaktdaten erstellen)
          </li>
        {% endif %}
        <li>CleanupEventRequest -> Table (nur eigene)</li>
        <li>CleanupEventRequest -> Map (nur eigene)</li>
        <li><a href="{% url 'antragsmanagement:cleanupeventrequest_create' %}">CleanupEventRequest -> Create</a> (= Antrag auf Müllsammelaktion erstellen)</li>
      </ul>
    {% endif %}
    {% if belongs_to_antragsmanagement_authority %}
      Behörde
      <ul>
        <li>CleanupEventRequest -> Table (nur zugewiesene)</li>
        <li>CleanupEventRequest -> Map (nur zugewiesene)</li>
        <li>CleanupEventRequest -> Update (nur zugewiesene)</li>
      </ul>
    {% endif %}
    {% if is_antragsmanagement_admin %}
      Admin
      <ul>
        <li><a href="{% url 'antragsmanagement:authority_table' %}">Authority -> Table</a> (= Tabelle mit allen Behörden)</li>
        <li><a href="{% url 'antragsmanagement:authority_update' pk=1 %}">Authority -> Update</a> (= E-Mail-Adresse einer Behörde aktualisieren)</li>
        <li><a href="{% url 'antragsmanagement:email_table' %}">Email -> Table</a> (= Tabelle mit allen E-Mails)</li>
        <li><a href="{% url 'antragsmanagement:email_update' pk=2 %}">Email -> Update</a> (= Inhalt einer E-Mail aktualisieren)</li>
        <li>CleanupEventRequest -> Table</li>
        <li>CleanupEventRequest -> Map</li>
      </ul>
    {% endif %}
    <script>
      setTimeout(function () {
        $('.alert-success').alert('close');
      }, 3000);
    </script>
  {% else %}
    {% include "antragsmanagement/notice-nopermissions.html" %}
  {% endif %}
{% endblock %}
