<div id="comment-list-modal" class="modal fade" tabindex="-1" aria-labelledby="comment-list-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="comment-list-modal-header" class="modal-header">
        <h5 id="comment-list-modal-title" class="modal-title">vorhandene(r) Kommentar(e) zu Antrag #REQUEST_PK</h5>
      </div>
      <div id="comment-list-modal-body" class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="comment-list-modal-ok" data-bs-dismiss="modal">schließen</button>
      </div>
    </div>
  </div>
</div>
