<div id="request-comment-list-modal" class="modal fade" tabindex="-1" aria-labelledby="request-comment-list-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="request-comment-list-modal-header" class="modal-header">
        <h5 id="request-comment-list-modal-title" class="modal-title">vorhandene(r) Kommentar(e) zu Antrag #REQUEST_PK</h5>
      </div>
      <div id="request-comment-list-modal-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="request-comment-list-modal-ok" data-bs-dismiss="modal">schließen</button>
      </div>
    </div>
  </div>
</div>
