{% load static %}
{% load i18n %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}

      {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Bearbeitung von Geodaten direkt in der Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock">
        <meta name="keywords" content="Geodaten,Rostock">
      {% endblock %}

      <title>{% block title %}{% endblock %}Datenwerft.HRO</title>
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

      {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      {% endblock %}

      {% block scripts %}
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'popperjs/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'fontawesome/all.min.js' %}"></script>
      {% endblock %}

    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    {% endblock %}
    <div class="container-fluid mt-5">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
