{% load static %}
{% load i18n %}
{% load rest_framework %}
{% load toolbox_tags %}

<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}

      {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Bearbeitung von Geodaten direkt in der Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock">
        <meta name="keywords" content="Geodaten,Rostock">
      {% endblock %}

      <title>{% block title %}{% endblock %}Datenwerft.HRO</title>
      <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg'|get_logo %}">

      {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'select2/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2-dark-mode.css' %}" />
      {% endblock %}

      {% block scripts %}
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'popperjs/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'fontawesome/all.min.js' %}"></script>
        <script src="{% static 'select2/select2.js' %}"></script>
      {% endblock %}

    {% endblock %}
  </head>

  <body>
    <header>
      {% block navbar %}
        {% include "navbar.html" %}
      {% endblock %}
    </header>
    <main>
      <div class="container-fluid mt-5">
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
