<div id="confirm-export-modal" class="modal fade" tabindex="-1" aria-labelledby="confirm-export-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="confirm-export-modal-header" class="modal-header">
        <h5 id="confirmexport-modal-title" class="modal-title">Alle Datensätze exportieren?</h5>
      </div>
      <div id="confirm-export-modal-body" class="modal-body">
        <div class="text-center">
          <p>Sie haben keine Datensätze ausgewählt. Es werden daher alle vorhandenen Datensätze dieses Datenthemas exportiert. Dies kann lange dauern und ungewollt große Dokumente erzeugen.</p>
          <p><strong>{{ objcount }} Datensätze werden exportiert</strong></p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="confirm-export-modal-ok" data-bs-dismiss="modal">Export durchführen</button>
        <button class="btn btn-warning" type="button" id="confirm-export-modal-cancel" data-bs-dismiss="modal">abbrechen</button>
      </div>
    </div>
  </div>
</div>
