<div id="loading-modal" class="modal fade" tabindex="-1" aria-labelledby="loading-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="loading-modal-header" class="modal-header">
        <h5 id="loading-modal-title" class="modal-title"></h5>
        <button type="button" id="loading-modal-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="loading-modal-body" class="modal-body">
        <span id="loading-modal-body-text"></span>
        <div class="text-center">
          <div class="spinner-border m-4 text-primary" role="status">
            <span class="sr-only">laden…</span>
          </div>
          <div hidden id="loading-modal-map-data" class="m-4">
            <span id="loading-modal-map-data-count"></span> von <span id="loading-modal-map-data-border"></span> Datensätzen geladen
          </div>
        </div>
      </div>
    </div>
  </div>
</div>