{% load static %}
{% load toolbox_tags %}

{% block navbar %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href={% url 'index' %}>
        <img class="navbar-logo" src="{% static 'img/logo.svg'|get_logo %}" alt="Logo">
        Datenwerft.HRO
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          {% if user.is_authenticated %}
            <li class="nav-item active">
              {% if user.is_staff %}
                <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-user"></i> {{ user.username }}</a>
              {% else %}
                <span class="nav-link"><i class="fas fa-user"></i> {{ user.first_name }} {{ user.last_name }}</span>
              {% endif %}
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/rostock/datenwerft/blob/main/hilfe" target="_blank" rel="noopener noreferrer"><i class="fas fa-circle-question"></i> Hilfe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://geo.sv.rostock.de/datenschutz.html" target="_blank" rel="noopener noreferrer"><i class="fas fa-lock"></i> Datenschutz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://geo.sv.rostock.de/impressum.html" target="_blank" rel="noopener noreferrer"><i class="fas fa-stamp"></i> Impressum</a>
          </li>
          <li class="nav-item dropdown">

            <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme">
              <i class="fas fa-circle-half-stroke bi me-1 my-1 theme-icon-active"></i> Modus
              <span class="d-lg-none ms-2" id="bd-theme-text"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="bd-theme-text" data-bs-popper="static">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                  <i class="fas fa-desktop bi me-2 opacity-50"></i> wie System
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                  <i class="fas fa-sun bi me-2 opacity-50"></i> Hellmodus
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                  <i class="fas fa-moon bi me-2 opacity-50"></i> Dunkelmodus
                </button>
              </li>
            </ul>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <form class="form-inline mt-2 mt-md-0" method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit"><i class="fas fa-right-from-bracket"></i> abmelden</button>
          </form>
        {% else %}
          <form class="form-inline mt-2 mt-md-0">
            <a class="btn btn-primary" role="button" href="{% url 'accounts:login' %}"><i class="fas fa-right-to-bracket"></i> Anmeldung</a>
          </form>
        {% endif %}
      </div>
    </div>
    <script>
      /*!
       * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
       * Copyright 2011-2024 The Bootstrap Authors
       * Licensed under the Creative Commons Attribution 3.0 Unported License.
       */

      (() => {
        'use strict'

        const getStoredTheme = () => localStorage.getItem('theme')
        const setStoredTheme = theme => localStorage.setItem('theme', theme)

        const getPreferredTheme = () => {
          const storedTheme = getStoredTheme()
          if (storedTheme) {
            return storedTheme
          }

          return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = theme => {
          if (theme === 'auto') {
            document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
          } else {
            document.documentElement.setAttribute('data-bs-theme', theme)
          }
        }

        setTheme(getPreferredTheme())

        const showActiveTheme = (theme, focus = false) => {
          const themeSwitcher = document.querySelector('#bd-theme')

          if (!themeSwitcher) {
            return
          }

          const themeSwitcherText = document.querySelector('#bd-theme-text')
          const activeThemeIcon = document.querySelector('.theme-icon-active')
          const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)

          document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
            element.classList.remove('active')
            element.setAttribute('aria-pressed', 'false')
          })

          btnToActive.classList.add('active')
          btnToActive.setAttribute('aria-pressed', 'true')
          const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
          themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)

          if (focus) {
            themeSwitcher.focus()
          }
        }

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
          const storedTheme = getStoredTheme()
          if (storedTheme !== 'light' && storedTheme !== 'dark') {
            setTheme(getPreferredTheme())
          }
        })

        window.addEventListener('DOMContentLoaded', () => {
          showActiveTheme(getPreferredTheme())

          document.querySelectorAll('[data-bs-theme-value]')
            .forEach(toggle => {
              toggle.addEventListener('click', () => {
                const theme = toggle.getAttribute('data-bs-theme-value')
                setStoredTheme(theme)
                setTheme(theme)
                showActiveTheme(theme, true)
              })
            })
        })
      })()


    </script>
  </nav>
{% endblock %}
