html {
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 450 !important;
}

a,
a:hover {
  text-decoration: none;
}

span.nav-link:focus,
span.nav-link:hover {
  color: var(--bs-nav-link-color);
  cursor: default;
}

.clickable {
  cursor: pointer;
}

.container-fluid:not(nav > .container-fluid) {
  width: 90%;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-secondary);
}

.main-logo {
  height: 80px;
}

.modal-footer {
  justify-content: center !important;
}

.navbar-logo {
  height: 30px;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.object-list {
  margin-bottom: 0 !important;
  padding: 0 !important;
  list-style-type: none;
}

.required {
  font-weight: bold;
}

.bi {
  width: 1rem;
  height: 1rem;
}

.nav-link svg {
  fill: var(--bs-nav-link-color);
}