li > label > input {
  margin-right: 0.3rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

ul:not([class]) {
  list-style: outside none none;
  margin-left: -2rem;
  margin-bottom: 0;
}

#address-search,
input[name="address"],
input[name="adresse"],
input[name="strasse"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#map-addresssearch-container-form {
  height: 40vh;
  min-height: 300px;
  position: relative; /* Stellt sicher, dass das Kind-Element 'sticky-object' relativ zu 'content' positioniert wird */
}

#leaflet-map {
  height: 100%;
  position: absolute;
  width: 100%;
  max-height: 70vh; /* Maximale Breite des Elements */
  padding: 10px; /* Optional: Um das Element ansehnlicher zu machen */
}

#postcode-assigner.enabled,
.add-another-field,
.clear-field,
.value-assigner.enabled {
  cursor: pointer;
}

.add-another-field {
  margin-top: 0.5rem;
}

.cell-field {
  padding-right: 0 !important;
}

.cell-label {
  padding-left: 0 !important;
}

.label-with-margin {
  margin-left: 0.3rem;
}

.leaflet-container {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.leaflet-container-default {
  min-height: 300px;
  height: 800px;
}

.results {
  display: none;
  width: 100%;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.result-element {
  padding-left: 0.75rem;
  line-height: 2rem;
  cursor: pointer;
}

.result-element:hover {
  background-color: #ddd;
}

.result-element .text-secondary {
  float: right;
  padding-right: 0.75rem;
}

/*
 * Leaflet:
 * buttons for layer controls
 */

.leaflet-control-layers-toggle {
  background-size: 60%;
  background-repeat: no-repeat;
}

.leaflet-control-layers:nth-child(1) .leaflet-control-layers-toggle {
  background-image: url("../img/layer-control-wms.svg");
}

.leaflet-control-layers:nth-child(2) .leaflet-control-layers-toggle {
  background-image: url("../img/layer-control-datathemes.svg");
}

.leaflet-control-layers:nth-child(3) .leaflet-control-layers-toggle {
  background-image: url("../img/layer-control-wfs.svg");
}

/*
 * Leaflet:
 * buttons for location controls
 */

.leaflet-control-locate a .leaflet-control-locate-location-arrow {
  -webkit-mask-image: url("../img/location-arrow-solid.svg") !important;
  background-image: url("../img/location-arrow-solid.svg") !important;
}

.leaflet-control-locate a .leaflet-control-locate-spinner {
  -webkit-mask-image: url("../img/spinner-solid.svg") !important;
  mask-image: url("../img/spinner-solid.svg") !important;
}

/*
 * Leaflet:
 * buttons for adopting geometries
 */

.adopt-geometry-control {
  background-image: url("../img/adopt-geometry.svg");
}

.form-floating > label {
  width: 100% !important;
}

#custom-form {
  height: fit-content;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  width: 50%;
}

.col > table {
  width: 100%;
}

#form-control-buttons > .btn {
  height: fit-content;
  width: 100%;
  margin-bottom: 0.5rem;
}

/*
 * Pointcloud management
 */

#pc-management {
  vertical-align: middle;
}

#pc-management > tbody > tr {
  white-space: nowrap;
}

#pc-management > thead > tr > th:first-child {
  text-align: center;
  font-weight: 600;
}

#pc-management > thead > tr > th:last-child {
  white-space: nowrap;
  width: 1%;
}

#pc-management > tbody > tr > td:first-child {
  text-align: center;
  font-weight: 600;
}

#pc-management > tbody > tr > td:last-child {
  white-space: nowrap;
  width: 1%;
}

.flex-container-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px; /* Abstand zwischen den Flex-Items */
}

.flex-container-row {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem; /* Abstand zwischen den Flex-Items */
}

/* Item with class flex-item and flex-container-column */
.flex-item.flex-container-column {
  flex: 1 1 calc(50% - 2rem);
}

.flex-item {
  flex: 1 1 100%;
}

#flex-list {
  order: 1;
}

#flex-map {
  order: 1;
}

#flex-address-search {
  order: 2;
}

#flex-action-buttons {
  order: 2;
}

@media (width <= 768px) {
  .flex-list {
    order: 1;
  }

  #flex-map {
    order: 2;
  }

  #flex-address-search {
    order: 3;
  }

  #flex-action-buttons {
    order: 4;
  }

  #map-addresssearch-container-form {
    min-height: 600px;
  }
}

.container-fluid {
  max-width: 1320px;
  min-width: 340px;
}