name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  linting_python_django:
    name: Linting Python and Django
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Check Python rules via pycodestyle
        run: pycodestyle -- *.py datenwerft/*.py accounts/*.py accounts/*/*.py antragsmanagement/*.py antragsmanagement/*/*.py antragsmanagement/*/*/*.py bemas/*.py bemas/*/*.py bemas/*/*/*.py datenmanagement/*.py datenmanagement/*/*.py toolbox/*.py toolbox/vcpub/*.py toolbox/*/*/*.py
      - name: Check Django rules via djLint
        run: djlint datenwerft/templates/*.html accounts/templates/accounts/log*.html accounts/templates/accounts/test.html antragsmanagement/templates/antragsmanagement/*.html bemas/templates/bemas/*.html datenmanagement/templates/datenmanagement/*.html
  linting_js_css:
    name: Linting JavaScript and CSS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install Node.js dependencies
        run: npm install
      - name: Check CSS rules via Stylelint
        run: npx stylelint "datenwerft/**/*.css" "datenmanagement/**/*.css"
      - name: Check JavaScript rules via ESLint
        run: npx eslint "datenwerft/static" "antragsmanagement/static" "bemas/static" "datenmanagement/static"
